{% extends 'base-authpage.html' %}
{% load static %}
{% load widget_tweaks %}
{% block navbar %}
{% include 'include/nav-authpage.html' %}
{% endblock %}


{% block style %}
<!-- select2 -->
<link type="text/css" href="{% static 'vendor/select2/css/select2.min.css' %}" rel="stylesheet">
<link type="text/css" href="{% static 'vendor/select2-bootstrap/select2-argon.min.css' %}" rel="stylesheet">

<style>
   .tooltip-inner {
    text-align: left;
  }
  /* overwright select2.min.css */
  .select2-container--open .select2-dropdown--below{
    border:none;
  }
  .select2-container--open .select2-dropdown--above{
    border:none;
  }

  /* Card animation */
  .card-zoom[data-animation=zooming] {
      transition: all .3s cubic-bezier(.2,1,.22,1);
      -webkit-transition: all .3s cubic-bezier(.2,1,.22,1);
  }
  .card-zoom[data-animation=zooming]:hover {
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
  z-index: 2;
  }

  /* sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    /* z-index: 100; */
    padding: 96px 0 0 8%;
    /* box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1); */
  }

  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }

  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .like-button {
    background-color: transparent;
    border: none;
    text-decoration: none;
    display: inline-block;
    margin-right: .75rem;
    font-size: .875rem;
    color: #32325d;
    padding: 0;
  }

  .like-button.active, 
  .like-button:hover {
    color: #5e72e4;
  }

  .like-button:focus {
    outline: none;
  }

  .like-button>span {
    margin-left: .1875rem;
    font-weight: 600;
  }

  /* tagsinput overwrite */
  /* .bootstrap-tagsinput .badge {
    line-height: 1;
    padding: .35rem .375rem;
  }
  
  .bootstrap-tagsinput .badge-default {
    background: #172b4d;
  }
  .bootstrap-tagsinput .badge-primary {
    background: #5e72e4;
  }
  .bootstrap-tagsinput .badge-success {
    background: #2dce89;
  }

  .bootstrap-tagsinput .badge-danger {
    background: #f5365c;
  }

  .bootstrap-tagsinput .badge-secondary {
    background: #f4f5f7;
    color: #212529;
  }
  .bootstrap-tagsinput .badge-gray-500 {
    background: #adb5bd;
  } */

  /* tags */
  .tag-label {
    border-bottom: .0625rem solid rgba(0,0,0,.05);
    display: block;
    padding:.25rem 0;
    color:#172b4d;
  }
  .tags-section {
    /* max-width: 15rem; */
    width:12rem;
    margin-right: 1.5rem;
    flex: 0 1 27%;
    text-align: left;
  }
  .tags-section .form-group {
    margin-bottom: 30px;
  }
  .select2 {
  font-family: 'FontAwesome'
  }
</style>

<!-- Slider -->
<link href="{% static 'vendor/nouislider/css/nouislider.min.css' %}" rel="stylesheet">
<style>
  .slider-year {
    font-weight: 700;
    font-size: .75rem;
    display: block;
  }

</style>
{% endblock %}

{% block scripts %}
<script>
  var reader = new FileReader();
  function readURL(input) {
    if (input.files && input.files[0]) {
      reader.onload = function(e) {
        $('#image-preview-container').attr('class', 'd-block');
        $('#post-preview-image').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]); // convert to base64 string
    }
  }
  $("#post-image-input").change(function() {
    readURL(this);
  });
</script>

<!-- Select2 -->
<script src="{% static 'vendor/anchor-js/anchor.min.js' %}"></script>
<script src="{% static 'vendor/select2/js/select2.full.js' %}"></script>
<!-- Select2 config -->
<script>
  $.fn.select2.defaults.set("theme", "bootstrap");
  $(".select2-single, .select2-multiple").select2({
    placeholder: function(){
      $(this).data('placeholder');
    },
    width: null,
    containerCssClass: ':all:',
    escapeMarkup: function(m) { 
       return m; 
    },
  });
  $(".select2-single, .select2-multiple, .select2-allow-clear, .js-data-example-ajax").on("select2:open", function () {
    if ($(this).parents("[class*='has-']").length) {
      var classNames = $(this).parents("[class*='has-']")[0].className.split(/\s+/);
      for (var i = 0; i < classNames.length; ++i) {
        if (classNames[i].match("has-")) {
          $("body > .select2-container").addClass(classNames[i]);
        }
      }
    }
  });
</script>

<!-- Tags -->
<!-- <script>
  Tags = function () {
    var e = $('[data-toggle="tags"]');
    e.length && e.each(function () {
      $(this).tagsinput({
        tagClass: "badge badge-primary"
      })
    })
    var s = $('[data-toggle="tags-default"]');
    s.length && s.each(function () {
      $(this).tagsinput({
        tagClass: "badge badge-default"
      })
    })
    var s = $('[data-toggle="tags-success"]');
    s.length && s.each(function () {
      $(this).tagsinput({
        tagClass: "badge badge-success"
      })
    })
    var d = $('[data-toggle="tags-danger"]');
    d.length && d.each(function () {
      $(this).tagsinput({
        tagClass: "badge badge-danger"
      })
    })
    var d = $('[data-toggle="tags-secondary"]');
    d.length && d.each(function () {
      $(this).tagsinput({
        tagClass: "badge badge-secondary"
      })
    })
    var d = $('[data-toggle="tags-gray-500"]');
    d.length && d.each(function () {
      $(this).tagsinput({
        tagClass: "badge badge-gray-500"
      })
    })
  }();
</script> -->

<!-- noUIslider for Study abroad year-->
<script>
  var startYear = document.getElementById("startYear"),
    startYear_start = document.getElementById("startYear_start"),
    startYear_start_input = document.getElementById("startYear_start_input"),
    startYear_end = document.getElementById("startYear_end"),
    startYear_end_input = document.getElementById("startYear_end_input"),
    starYear_span = [startYear_start, startYear_end];
    starYear_input = [startYear_start_input, startYear_end_input];
  noUiSlider.create(startYear, {
    start: [parseInt(startYear_start.getAttribute('data-range-value-low')), parseInt(startYear_end.getAttribute('data-range-value-high'))],
    // tooltips: [true, true],
    connect: !0,
    start: ['2000', '2010'],
    step: 1,
    range: {
      min: parseInt(startYear.getAttribute('data-range-value-min')),
      max: parseInt(startYear.getAttribute('data-range-value-max'))
    }
  }), startYear.noUiSlider.on("update", function (a, b) {
    starYear_span[b].textContent = Math.round(a[b])
    starYear_input[b].value = Math.round(a[b])
  })
  var endYear = document.getElementById("endYear"),
    endYear_start = document.getElementById("endYear_start"),
    endYear_start_input = document.getElementById("endYear_start_input"),
    endYear_end = document.getElementById("endYear_end"),
    endYear_end_input = document.getElementById("endYear_end_input"),
    endYear_span = [endYear_start, endYear_end];
    endYear_input = [endYear_start_input, endYear_end_input];
  noUiSlider.create(endYear, {
    start: [parseInt(endYear_start.getAttribute('data-range-value-low')), parseInt(endYear_end.getAttribute('data-range-value-high'))],
    // tooltips: [true, true],
    connect: !0,
    start: ['2000', '2010'],
    step: 1,
    range: {
      min: parseInt(endYear.getAttribute('data-range-value-min')),
      max: parseInt(endYear.getAttribute('data-range-value-max'))
    }
  }), endYear.noUiSlider.on("update", function (a, b) {
    endYear_span[b].textContent = Math.round(a[b])
    endYear_input[b].value = Math.round(a[b])
  })
</script>

<!-- to send ask form -->
<script>
  function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }

  $('#ask-form').submit(function(e) {
    e.preventDefault();
    var status = []
    if (document.getElementById('customCheck1').checked) {
      status.push('FU')
    }
    if (document.getElementById('customCheck2').checked) {
      status.push('CU')
    }
    if (document.getElementById('customCheck3').checked) {
      status.push('AL')
    }
    var jsonData = {
      'status': status,
      'home_countries': $('#homeCountrySelect2').val(),
      'study_abroad_countries': $('#studyAbroadCountrySelect2').val(),
      'schools': $('#studyAbroadSchoolSelect2').val(),
      'majors': $('#studyAbroadMajorSelect2').val(),
      'start_year': document.getElementById('startYear').noUiSlider.get(),
      'end_year': document.getElementById('endYear').noUiSlider.get(),
      'title': $('#input-title').val(),
      'body': $('#input-body').val()
    };
    var csrftoken = Cookies.get('csrftoken');
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });
    $.ajax({
      url: 'ask',
      method: 'POST',
      dataType: 'json',
      contentType: 'application/json; charset=utf-8',
      data: JSON.stringify(jsonData),
      success: function(result) {
        window.alert('Ask succeeded! Redirecting to the feed page.');
        location.reload();
      },
      error: function(error) {
        console.log(error);
      }
    });
  })
</script>

{% endblock %}

{% load tz %}
{% block content %}
<div class="wrapper">
    <section class="section section-blog-info">
        <!-- post area -->
        <div class="container">
          <div class="col-md-8 mx-auto">
            <!-- Tabs with icons -->
            <div class="nav-wrapper mt-3">
              <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                <li class="nav-item">
                  <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true">
                    <i class="ni ni-cloud-upload-96 mr-2"></i>
                    Post
                  </a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false">
                    <i class="ni ni-collection mr-2"></i>
                    Noticle
                  </a>
                </li> !-->
                <li class="nav-item">
                  <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-3-tab" data-toggle="tab" href="#tabs-icons-text-3" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false">
                    <i class="fa fa-question mr-2"></i>
                    Ask
                  </a>
                </li>
              </ul>
            </div>
          
            <div class="tab-content">
              <!-- Post -->
              <div class="tab-pane fade active show" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
              {% include "./components/post.html" %}
              </div>
              <!-- End Post -->

              <!-- Noticle -->
              <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
              <!-- {% include "./components/noticle.html" %} !-->
              </div> 
              <!-- End Noticle -->

              <!-- Ask -->
              <div class="tab-pane fade" id="tabs-icons-text-3" role="tabpanel" aria-labelledby="tabs-icons-text-3-tab">
              {% include "./components/ask.html" %}
              </div>
              <!-- End Ask -->
            </div>
          </div>
        </div>
    </section>
</div>
{% endblock %}
