{% load static %}
<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-dark bg-default headroom">
  <div class="container">
    <a class="navbar-brand mr-lg-5" href="/">
      Alumate
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global">
      <div class="navbar-collapse-header">
        <div class="row">

          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center ml-lg-auto">
        <!-- people -->
        <li class="nav-item dropdown d-flex align-items-center">
          <a href="javascript:;" data-toggle="dropdown" role="button">
            <span class="mx-2" style="font-size: 1.4em; color: #f3f4f6;">
              <i class="fa fa-users"></i>
            </span>
          </a>
        </li>
        <!-- inquiry -->
        <li class="nav-item dropdown d-flex align-items-center">
          <a href="javascript:;" data-toggle="dropdown" role="button">
            <span class="mx-2" style="font-size: 1.5em; color: #f3f4f6;">
              <i class="fa fa-question"></i>
            </span>
          </a>
        </li>
        <!-- noticle -->
        <li class="nav-item dropdown d-flex align-items-center">
          <a href="javascript:;" data-toggle="dropdown" role="button">
            <span class="mx-2 " style="font-size: 1.3em; color: #f3f4f6;">
              <i style="margin-top: 10px;" class="ni ni-collection"></i>
            </span>
          </a>
        </li>
        <!-- message -->
        <li class="nav-item dropdown d-flex align-items-center">
          <a class="mr-4" href="{% url 'message:index' %}" role="button">
            <span class="mx-2 " style="font-size: 1.5em; color: #f3f4f6;">
              <i class="fa fa-comments"></i>
            </span>
          </a>
        </li>
        <!-- account -->
        <li class="nav-item dropdown" style="position: relative; top: 5px">
          <a href="javascript:;" class="avatar avatar-sm rounded-circle" data-toggle="dropdown" role="button">
            {% if user.profile_image %}
            <img src={{ user.profile_image.image.url }} />
            {% else %}
            <img src={% static 'img/placeholder.jpg' %} />
            {% endif %}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'accounts:account-page' user.username %}">
              <i class="ni ni-compass-04 text-muted"></i>
              Account Page
            </a>
            <a class="dropdown-item" href="{% url 'accounts:account-edit' %}">
              <i class="ni ni-lock-circle-open text-muted"></i>
              Account Settings
            </a>
            <a class="dropdown-item" href="{% url 'auths:logout' %}">
              <i class="ni ni-tv-2 text-danger"></i>
              Logout
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>