{% load static %}
<!-- check out the following link to create multiple option filter
https://demos.creative-tim.com/argon-dashboard-pro/docs/plugins/dropdown.html -->


<!-- Tags Section -->
<form action="">
  <div class="mr-3 tags-section">
    <!-- Alumate status -->
    <div class="form-group focused">
      <span class="tag-label">
        Alumate Status
      </span>
      <div class="custom-control custom-checkbox my-3">
        <input class="custom-control-input" id="customCheck1" type="checkbox" checked>
        <label class="custom-control-label" for="customCheck1">Future Student</label>
      </div>
      <div class="custom-control custom-checkbox my-3">
        <input class="custom-control-input" id="customCheck2" type="checkbox" checked>
        <label class="custom-control-label" for="customCheck2">Current Student</label>
      </div>
      <div class="custom-control custom-checkbox my-3">
        <input class="custom-control-input" id="customCheck3" type="checkbox" checked>
        <label class="custom-control-label" for="customCheck3">Alumni</label>
      </div>
    </div>
    <!-- Home Country -->
    <div class="form-group focused">
      <label class="tag-label" for="home_country">
        Home Country
      </label>
      <select id="homeCountrySelect2" name="home_country" class="select2-multiple select2-hidden-accessible" multiple="multiple"
        tabindex="-1" aria-hidden="true" data-placeholder="Add tags">
        {% for country in home_country_options %}
        <option value="{{country}}">{{country}}</option>
        {% endfor %}
      </select>
    </div>
    <!-- Study Abroad Country -->
    <div class="form-group">
      <label class="tag-label" for="study_abroad_country">
        Study Abroad Country
      </label>
      <select id="studyAbroadCountrySelect2" name="study_abroad_country" class="select2-multiple select2-hidden-accessible" multiple="multiple"
        tabindex="-1" aria-hidden="true" data-placeholder="Add tags">
        {% for country in study_abroad_country_options %}
        <option value="{{country}}">{{country}}</option>
        {% endfor %}
      </select>
    </div>
    <!-- Study Abroad School -->
    <div class="form-group">
      <label class="tag-label" for="study_abroad_school">
        Study Abroad School
      </label>
      <select id="studyAbroadSchoolSelect2" name="study_abroad_school" class="select2-multiple select2-hidden-accessible" multiple="multiple"
        tabindex="-1" aria-hidden="true" data-placeholder="Add tags">
        {% for school in school_options %}
        <option value="{{school}}">{{school}}</option>
        {% endfor %}
      </select>
    </div>
    <!-- Study Abroad Major -->
    <div class="form-group">
      <label class="tag-label" for="study_abroad_major">
        Study Abroad Major
      </label>
      <select id="studyAbroadMajorSelect2" name="study_abroad_major" class="select2-multiple select2-hidden-accessible" multiple="multiple"
        tabindex="-1" aria-hidden="true" data-placeholder="Add tags">
        {% for major in major_options %}
        <option value="{{major}}">{{major}}</option>
        {% endfor %}
      </select>
    </div>
    <!-- Study Abroad Year -->
    <div class="form-group">
      <label class="tag-label" for="home_countries">
        Study Abroad Year
      </label>
      <div class="my-4">
        <span class="slider-year">Start Year</span>
        <input class="d-none" type="text" name="startYear_start_input" id="startYear_start_input">
        <input class="d-none" type="text" name="startYear_end_input" id="startYear_end_input">
        <span><small class="text-muted"><span data-range-value-low="1970" id="startYear_start"></span> -
            <span data-range-value-high="2040" id="startYear_end"></span></small></span>
        <div id="startYear" data-range-value-min="1980" data-range-value-max="2030"></div>
      </div>
      <div class="my-4">
        <span class="slider-year">End Year</span>
        <input class="d-none" type="text" name="endYear_start_input" id="endYear_start_input">
        <input class="d-none" type="text" name="endYear_end_input" id="endYear_end_input">
        <span><small class="text-muted"><span data-range-value-low="1970" id="endYear_start"></span> - <span
              data-range-value-high="2040" id="endYear_end"></span></small></span>
        <div id="endYear" data-range-value-min="1980" data-range-value-max="2030"></div>
      </div>
    </div>
    <!-- Living City -->
    {% comment %} <div class="form-group">
      <label class="tag-label" for="living_city">
        Living City
      </label>
      <select name="living_city" class="select2-multiple select2-hidden-accessible" multiple="multiple"
        tabindex="-1" aria-hidden="true" data-placeholder="Add tags">
      </select>
    </div> {% endcomment %}
    <!-- Apply button -->
    <div class="text-center mb-lg">
      <button type="button" class="btn btn-primary" onclick="applyChange()">Apply</button>
    </div>
  </div>
</form>
<!-- End Tags Section-->
