<div *ngIf="about" lass="row mb-2 justify-content-end">
  <div class="col text-right">
    <!-- Button trigger modal -->
    <span data-toggle="modal" data-target="#editAbout" data-toggle="tooltip" data-placement="top"
      data-container="body" data-animation="true">
      <a class="icon icon-sm icon-shape icon-shape-gray shadow rounded-circle" type="button"
        data-toggle="tooltip" data-original-title="Edit About">
        <i class="ni ni-settings-gear-65 text-gray"></i>
      </a>
    </span>
  </div>
</div>
<div *ngIf="!about" class="row mb-3">
  <div class="col">
    <div class="icon icon-sm icon-shape icon-shape-danger shadow rounded-circle mr-2">
      <i class="ni ni-books text-danger"></i>
    </div>
    <span class="h5 font-weight-bold text-muted text-uppercase">About</span>
  </div>
</div>
<div *ngIf="!about" class="row mb-2 justify-content-end">
  <div class="col text-right">
    <!-- Button trigger modal -->
    <span data-toggle="modal" data-target="#editAbout" data-toggle="tooltip" data-placement="top"
      data-container="body" data-animation="true">
      <a class="icon icon-sm icon-shape icon-shape-gray shadow rounded-circle" type="button"
        data-toggle="tooltip" data-original-title="Add About">
        <i class="fa fa-plus text-gray"></i>
      </a>
    </span>
  </div>
</div>
