<div *ngIf="hasEditPermission"  class="details">
  <span>
    <span class="btn btn-file btn-sm btn-secondary mx-auto mt-3" data-toggle="modal"
      data-target="#editProfileImage" data-placement="top" data-container="body"
      data-animation="true">
      <span class="fileinput-new" data-toggle="tooltip" data-original-title="Change Profile Image"><i
          class="align-text-bottom ni ni-cloud-upload-96"></i>&nbsp;Change</span>
      <!-- <input type="hidden" value="" name="..."><input type="file" name=""> -->
    </span>
  </span>
</div>
