{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% include 'include/nav-authpage.html' %}
{% endblock %}

{% block content %}
<main>
  <section class="section section-lg">
    <div class="container">
      {% if futures %}
      <div class="row mb-sm">
        <div class="col-lg-8">
          <h3 class="display-3">Future students</h3>
        </div>
      </div>
      <div class="row mb-lg">
        {% for basic_info in futures %}
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="px-4">
            {% if basic_info.user.profile_image.image %}
            <img src="{{ basic_info.user.profile_image.image.url }}" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;" alt="image">
            {% else %}
            <img src="{% static 'img/placeholder.jpg' %}" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;" alt="image">
            {% endif %}
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">{{ basic_info.name }}</span>
                {% if user.basic_info.user.study_abroad  %}
                {% with basic_info.user.study_abroad.education as study_abroad %}
                <div>
                  <small class="h6 text-muted">{{ study_abroad.school }}</small>
                </div>
                <div>
                  <small class="h6 text-muted">{{ study_abroad.start_year }} ~ {{ study_abroad.end_year }}</small>
                </div>
                {% endwith %}
                {% endif %}
              </h5>
              <div class="mt-1">
                <button type="button" onclick="follow({{basic_info.user.id}})" class="btn btn-sm btn-primary btn-icon">
                  <span class="btn-inner--text" id="btn-text-{{basic_info.user.id}}">Follow</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}


      {% if students %}
      <div class="row mb-sm">
        <div class="col-lg-8">
          <h3 class="display-3">Current students</h3>
        </div>
      </div>
      <div class="row mb-lg">
        {% for basic_info in students %}
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="px-4">
            {% if basic_info.user.profile_image.image %}
            <img src="{{ basic_info.user.profile_image.image.url }}" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;" alt="image">
            {% else %}
            <img src="{% static 'img/placeholder.jpg' %}" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;" alt="image">
            {% endif %}
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">{{ basic_info.name }}</span>
                {% if basic_info.user.study_abroad  %}
                {% with basic_info.user.study_abroad.education as study_abroad %}
                <div>
                  <small class="h6 text-muted">{{ study_abroad.school }}</small>
                </div>
                <div>
                  <small class="h6 text-muted">{{ study_abroad.start_year }} ~ {{ study_abroad.end_year }}</small>
                </div>
                {% endwith %}
                {% endif %}
              </h5>
              <div class="mt-1">
                <button type="button" onclick="follow({{basic_info.user.id}})" class="btn btn-sm btn-primary btn-icon">
                  <span class="btn-inner--text" id="btn-text-{{basic_info.user.id}}">Follow</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}

      {% if alumnis %}
      <div class="row mb-sm">
        <div class="col-lg-8">
          <h3 class="display-3">Alumni</h3>
        </div>
      </div>
      <div class="row mb-md">
        {% for basic_info in alumnis %}
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="px-4">
            {% if basic_info.user.profile_image.image %}
            <img src="{{ basic_info.user.profile_image.image.url }}" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;" alt="image">
            {% else %}
            <img src="{% static 'img/placeholder.jpg' %}" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;" alt="image">
            {% endif %}
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">{{ basic_info.name }}</span>
                {% if basic_info.user.study_abroad  %}
                {% with basic_info.user.study_abroad.education as study_abroad %}
                <div>
                  <small class="h6 text-muted">{{ study_abroad.school }}</small>
                </div>
                <div>
                  <small class="h6 text-muted">{{ study_abroad.start_year }} ~ {{ study_abroad.end_year }}</small>
                </div>
                {% endwith %}
                {% endif %}
              </h5>
              <div class="mt-1">
                <button type="button" onclick="follow({{basic_info.user.id}})" class="btn btn-sm btn-primary btn-icon">
                  <span class="btn-inner--text" id="btn-text-{{basic_info.user.id}}">Follow</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}

        {% if not futures and not students and not alumnis %}
          <div class="d-flex justify-content-center px-4 my-5">
            <p>
              You are the very first user of Alumate from your home country! </br>
              This page is supposed to connect with other users. </br>
              Wait for others to join or go to "Find Alumates" page to find other students!
            </p>
        </div>
        {% endif %}
      </div>
      <div class="row justify-content-center">
        <a href="{% url 'feed:feed' %}" class="btn btn-primary mt-4">Welcome to Alumate!</a>
      </div>

    </div>
  </section>

</main>

<script>
  function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }

  function follow(id) {
    var btn = document.getElementById('follow-btn-' + id);
    var csrftoken = Cookies.get('csrftoken');
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });
    $.ajax({
      url: 'follow/' + id,
      method: 'POST',
      success: function(data) {
        document.getElementById('btn-text-' + id).innerText = 'Followed';
      }
    });
  }
</script>
{% endblock %}