{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% include 'include/nav-trans.html' %}
{% endblock %}

{% block content %}
<section class="section section-shaped section-lg">
  <div class="shape shape-style-1 bg-gradient-default">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="card-body px-lg-5 py-lg-5">
    <div class="alert alert-info">
        <h1>The password has been changed!</h1>
        <p><a href="{% url 'auths:login' %}">log in again?</a></p>
    </div>
  </div>
</section>  
{% endblock %}
