{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% include 'include/nav-trans.html' %}
{% endblock %}

{% block content %}
{% load widget_tweaks %}
<section class="section section-shaped section-lg">
  <div class="shape shape-style-1 bg-gradient-default">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="card-body px-lg-5 py-lg-5">
    Someone asked for password reset for email {{ email }}. Follow the link below:
{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
  </div>
</section>  
{% endblock %}

