{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% include 'include/nav-trans.html' %}
{% endblock %}
{% block footer %}
  {% include 'include/footer-dark.html' %}
{% endblock %}
{% block style %}
<style>
  .section {
    height: 100vh;
  }

  /* media */
  @media (min-width: 1200px) {
  }
  @media (min-width: 992px) {}

  @media (min-width: 768px) {
    .section {
      height: auto;
      min-height: 100vh;
    }
  }

  @media (min-width: 576px) {}
</style>
{% endblock %}

{% block content %}
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container">
      <div class="row justify-content-center align-items-center" style="height: 100%;">
        <div class="col-md-7 col-lg-5">
          <div class="card bg-secondary shadow border-0 mb-0">
            <div class="card-header bg-white pb-5">
              <div class="text-muted text-center mb-3"><small>Sign up with</small></div>
              <div class="text-center">
                <a href="/account/google/login/?process=login" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon">
                    <img alt="image" src="{% static 'img/icons/common/google.svg' %}">
                  </span>
                  <span class="btn-inner--text">Google</span>
                </a>
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Or sign up with credentials</small>
              </div>
              
            <form action="" method="post" id="authentication_form">
              {% if form.errors %}
              {% for error in form.errors %}
              <div class="alert alert-danger">
                <div class="container">
                  <b>Error Alert:</b>
                  {{ error }} 
                </div>
              </div>
              {% endfor %}
              {% endif %}
                  {% csrf_token %}
                <div class="form-group">
                  {% for error in form.username.errors %}
                      {{ error }}
                  {% endfor %}
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                    </div>
                      {{ form.username }}
                  </div>
                </div>

                <div class="form-group">
                  {% for error in form.email.errors %}
                      {{ error }}
                  {% endfor %}
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                      {{ form.email }}
                  </div>
                </div>
                <div class="form-group">
                  {% for error in form.password1.errors %}
                      {{ error }}
                  {% endfor %}
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                      {{ form.password1 }}
                  </div>
                </div>
                <div class="form-group">
                  {% for error in form.password2.errors %}
                      {{ error }}
                  {% endfor %}
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                      {{ form.password2 }}
                  </div>
                </div>
                <div class="text-muted font-italic">password strength: <span class="small font-weight-700" id="pwdStrength"></span></div>
                <div class="row my-4">
                  <div class="col-12">
                    <div class="custom-control custom-control-alternative custom-checkbox">
                      <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                      <label class="custom-control-label" for="customCheckRegister"><span>I agree with the <a href="{% url 'auths:privacy-policy' %}" target="_blank">Privacy Policy</a></span></label>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary mt-4" id="registerUser" disabled=true>Create account</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <script>
    let agree_to_policy = document.getElementById('customCheckRegister');
    let registerUser = document.getElementById('registerUser');
    const password2 = document.getElementById('id_password2');
    const password1 = document.getElementById('id_password1');
    password1.addEventListener('input', checkPasswordStrength);
    password2.addEventListener('keyup', checkPasswordMatch);
    let pwdStrengthText = document.getElementById('pwdStrength')

    function checkPasswordMatch(e) {
        if (e.target.value.length == 0) {
          password2.style.backgroundColor = '#fff';
          password2.style.color = '#8898AA';
        }
        else if (e.target.value == password1.value) {
            password2.style.backgroundColor = '#2DCE89';
            password2.style.color = '#ffff';
        }
        else {
          password2.style.backgroundColor = '#F75676';
          password2.style.color = '#ffff';
        }
    }

    function checkPasswordStrength(e) {
        if (e.target.value.length >= 8) {
          $.ajax({
            url: 'ajax/checkpwdstrength/',
            data: {
              'password': e.target.value
            },
            dataType: 'json',
            success: function (data) {
              if (data.status == 'strong') {
                pwdStrengthText.style.color = '#2DCE89';
              }
              else {
                pwdStrengthText.style.color = '#F75676';
              }
              pwdStrengthText.innerHTML = data.status;
            }
          });
        }
      else if (e.target.value.length > 0 && e.target.value.length < 8){
          pwdStrengthText.style.color = '#F75676';
          pwdStrengthText.innerHTML = 'weak';

        }
      else {
          pwdStrengthText.innerHTML = '';
        }
      }

    

    agree_to_policy.onclick = function (){
        if (agree_to_policy.checked == true) {
          registerUser.disabled = false;
        }
        else {
          registerUser.disabled = true;
        }
    }

  </script>
{% endblock %}
