{% extends 'base-authpage.html' %}
{% load static %}
{% load widget_tweaks %}
{% block navbar %}
{% include 'include/nav-authpage.html' %}
{% endblock %}

{% block style %}
<style>
    .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }

  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  /* overwrite argon */
  .card {
      margin-bottom: 30px;
      box-shadow: 0 1px 1px rgba(50,50,93,.1), 0 1px 1px rgba(0,0,0,.07);
      border: 0;
  }
</style>
{% endblock %}

{% block content %}
<div class="section mb-0 py-lg bg-secondary" style="min-height: 100vh;">
  <div class="container">
    <!-- Header -->
    <div class="row my-4">
      <div class="col-sm-12 col-md-10 mx-auto">
        <div class="card">
          <!-- Header -->
          <div class="card-header py-4">
            <div class="d-flex">
              <a href="{% url 'accounts:account-page' to_user.username %}">
                {% if to_user.profile_image %}
                <img src="{{ to_user.profile_image.image.url }}" class="avatar">
                {% else %}
                <img src="{% static 'img/placeholder.jpg' %}" class="avatar">
                {% endif %}
              </a>
              <a href="{% url 'accounts:account-page' to_user.username %}" class="mx-3 h3">{{ to_user.basicinfo.name }}</a>
            </div>
          </div>
          {% for message in messages %}
          <!-- Message -->
          <div class="card-body mb-4">
            <div class="d-flex" style="margin-left:12px;">
              <a href="{% url 'accounts:account-page' message.sender.username %}">
                {% if message.sender.profile_image %}
                <img src="{{ message.sender.profile_image.image.url }}" class="avatar">
                {% else %}
                <img src="{% static 'img/placeholder.jpg' %}" class="avatar">
                {% endif %}
              </a>
              <div class="mx-3 mb-4">
                <a href="{% url 'accounts:account-page' message.sender.username %}" class="h5 card-title">{{ message.sender.basicinfo.name }}</a>
                <small class="d-block text-muted">{{ message.sent_datetime | timesince }} ago</small>
              </div>
            </div>
            <div style="margin-left: calc(48px + 1rem);margin-right: calc(48px + 1rem)">
              <p class="card-text">{{ message.body | linebreaksbr }}</p>
            </div>
          </div>
          {% endfor %}
           <!-- Message form -->
          <div class="card-body">
            <div style="margin-left: calc(48px + 1rem);margin-right: calc(48px + 1rem)">
              <div class="media-body">
                <form action="" method="POST">
                  {% csrf_token %}
                  {% render_field new_reply_form.body class+="form-control" placeholder="Write your message" %}
                  <div class="text-right my-4 ml-auto">
                    <div class="btn p-0 upload-btn-wrapper align-middle">
                      <button type="button" class="btn mr-0 btn-icon rounded">
                        <span class="btn-inner--icon icon-big"><i class="fa fa-image"></i></span>
                      </button>
                      <input type="file" name="image" accept="image/*" id="post-image-input">
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary btn-icon">
                      <span class="btn-inner--icon icon-big"><i class="ni ni-send"></i></span>
                      <span class="btn-inner--text">Send</span>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    
{% endblock %}