{% extends 'base-authpage.html' %}
{% load static %}
{% block navbar %}
{% include 'include/nav-authpage.html' %}
{% endblock %}

{% block style %}
<style>
/* card style */
.card-zoom[data-animation=zooming] {
    transition: all .3s cubic-bezier(.2,1,.22,1);
    -webkit-transition: all .3s cubic-bezier(.2,1,.22,1);
}
.card-zoom[data-animation=zooming]:hover {
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    z-index: 2;
}
/* overwrite argon */
.notificate {
    padding: 4px;
    margin-top: 3px;
    float: right;
    display: inline-block !important;
}

.list-group-item:hover {
  z-index: 2;
  color: #fff;
  background-color: #5e72e4;
  border-color: #5e72e4;
  background: linear-gradient(35deg,#5e72e4,#825ee4);
}

.card:hover * {
  color: white!important;
}

</style>
{% endblock %}

{% block content %}
<div class="section mb-0 py-lg bg-secondary" style="min-height: 100vh;">
  <div class="container">
    <div class="row my-4">
      <div class="col-md-8 mx-auto">
        <div class="d-flex flex-row justify-content-between">
          <h3 class="display-4">Messages</h3>
          <!-- New message button -->
          <button class="align-self-center btn-sm btn btn-round btn-outline-primary btn-icon"><span
              class="btn-inner--icon"><i class="ni ni-fat-add"></i></span><span class="btn-inner--text">New
              message</span></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 mx-auto">
        <!-- Message1 (Unread Message)-->
        <div class="card mb-2 card-zoom" data-animation="zooming">
          <a href="{% url 'message:message_detail' %}" class="list-group-item">
            <div class="media">
              <img alt="Image" src="{% static 'img/faces/team-2.jpg' %}" class="avatar shadow">
              <div class="media-body ml-2">
                <div class="d-flex flex-row justify-content-between align-items-center">
                  <h6 class="sender-name mb-0">Jane Doe</h6>
                  <div class="d-flex flex-row">
                    <small class="text-muted">1 hour ago</small>
                    <span class="ml-2 align-self-center badge badge-success notificate"></span>
                  </div>
                </div>
                <span class="small text-muted">
                  Hi, thank you for the message! Oxford University located just in front....
                </span>
              </div>
            </div>
          </a>
        </div>
        {% comment %} <!-- Message2 -->
        <div class="card mb-2 card-zoom" data-animation="zooming">
          <a href="{% url 'message:message_detail' %}" class="list-group-item">
            <div class="media">
              <img alt="Image" src="{% static 'img/faces/christian.jpg' %}" class="avatar shadow">
              <div class="media-body ml-2">
                <div class="d-flex flex-row justify-content-between align-items-center">
                  <h6 class="sender-name mb-0">Charlie Watson</h6>
                  <div class="d-flex flex-row">
                    <small class="text-muted">1 hour ago</small>
                    <!-- <span class="ml-2 align-self-center badge badge-success notificate"></span> -->

                  </div>
                </div>
                <span class="small text-muted">
                  Hi, thank you for the message! Oxford University located just in front....
                </span>
              </div>
            </div>
          </a>
        </div>
        <!-- Message3 -->
        <div class="card mb-2 card-zoom" data-animation="zooming">
          <a href="{% url 'message:message_detail' %}" class="list-group-item">
            <div class="media">
              <img alt="Image" src="{% static 'img/faces/team-3.jpg' %}" class="avatar shadow">
              <div class="media-body ml-2">
                <div class="d-flex flex-row justify-content-between align-items-center">
                  <h6 class="sender-name mb-0">Mila Skylar</h6>
                  <div class="d-flex flex-row">
                    <small class="text-muted">24 min ago</small>
                    <!-- <span class="ml-2 align-self-center badge badge-success notificate"></span> -->

                  </div>
                </div>
                <span class="small text-muted">
                  You can subscribe to receive weekly...
                </span>
              </div>
            </div>
          </a>
        </div>
        <!-- Message4 -->
        <div class="card mb-2 card-zoom" data-animation="zooming">
          <a href="{% url 'message:message_detail' %}" class="list-group-item">
            <div class="media">
              <img alt="Image" src="{% static 'img/faces/team-4.jpg' %}" class="avatar shadow">
              <div class="media-body ml-2">
                <div class="d-flex flex-row justify-content-between align-items-center">
                  <h6 class="sender-name mb-0">Sofia Scarlett</h6>
                  <div class="d-flex flex-row">
                    <small class="text-muted">7 hours ago</small>
                    <!-- <span class="ml-2 align-self-center badge badge-success notificate"></span> -->

                  </div>
                </div>
                <span class="small text-muted">
                  It’s an effective resource regardless..
                </span>
              </div>
            </div>
          </a>
        </div>
        <!-- Message5-->
        <div class="card mb-2 card-zoom" data-animation="zooming">
          <a href="{% url 'message:message_detail' %}" class="list-group-item">
            <div class="media">
              <img alt="Image" src="{% static 'img/faces/team-5.jpg' %}" class="avatar shadow">
              <div class="media-body ml-2">
                <div class="d-flex flex-row justify-content-between align-items-center">
                  <h6 class="sender-name mb-0">Tom Klein</h6>
                  <div class="d-flex flex-row">
                    <small class="text-muted">1 day ago</small>
                    <!-- <span class="ml-2 align-self-center badge badge-success notificate"></span> -->
                  </div>
                </div>
                <span class="small text-muted">
                  Be sure to check it out if your dev pro...
                </span>
              </div>
            </div>
          </a>
        </div> {% endcomment %}
      </div>
    </div>
  </div>
</div>
    
{% endblock %}