{% load static %}
<!-- Core -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/popper/popper.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/bootstrap.min.js' %}"></script>
  <script src="{% static 'vendor/headroom/headroom.min.js' %}"></script>
  <!-- Optional JS -->
  <script src="{% static 'vendor/onscreen/onscreen.min.js' %}"></script>
  <script src="{% static 'vendor/nouislider/js/nouislider.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
  <!-- Argon JS -->
  <script src="{% static 'js/argon.js"></script>