<!-- <header>
  <app-navbar-non-auth></app-navbar-non-auth>
</header> -->
<section class="section section-shaped section-lg">
  <div class="shape shape-style-1 bg-gradient-default">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="container">
    <div class="row justify-content-center align-items-center" style="height: 100%;">
      <div class="col-md-7 col-lg-5">
        <div class="card bg-secondary shadow border-0 mb-0">
          <div class="card-header bg-white pb-5">
            <div class="text-muted text-center mb-3"><small>Sign up with</small></div>
            <div class="text-center">
              <a href="/account/google/login/?process=login" class="btn btn-neutral btn-icon">
                <span class="btn-inner--icon">
                  <img alt="image" src="assets/img/icons/common/google.svg">
                </span>
                <span class="btn-inner--text">Google</span>
              </a>
            </div>
          </div>
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <small>Or sign up with credentials</small>
            </div>

            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <!-- {% if form.errors %}
            {% for error in form.errors %}
            <div class="alert alert-danger">
              <div class="container">
                <b>Error Alert:</b>
                {{ error }}
              </div>
            </div>
            {% endfor %}
            {% endif %} -->
              <div class="form-group">
                <!-- {% for error in form.username.errors %}
                  {{ error }}
                {% endfor %} -->
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                  </div>
                  <input type="text" formControlName="username" class="form-control" placeholder="Username" required>
                </div>
              </div>

              <div class="form-group">
                <!-- {% for error in form.email.errors %}
                    {{ error }}
                {% endfor %} -->
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input type="email" formControlName="email" class="form-control" placeholder="Email" required>
                </div>
              </div>
              <div class="form-group">
                <!-- {% for error in form.password1.errors %}
                    {{ error }}
                {% endfor %} -->
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input type="password" name="password1" class="form-control" placeholder="Password" required>
                </div>
              </div>
              <div class="form-group">
                <!-- {% for error in form.password2.errors %}
                    {{ error }}
                {% endfor %} -->
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input type="password" name="password2" class="form-control" placeholder="Re-Enter Password" required>
                </div>
              </div>
              <div class="text-muted font-italic">password strength: <span class="small font-weight-700" id="pwdStrength"></span></div>
              <div class="row my-4">
                <div class="col-12">
                  <div class="custom-control custom-control-alternative custom-checkbox">
                    <input type="checkbox" class="custom-control-input" (click)="updatePolicyAgreement()" id="customCheckRegister">
                    <label class="custom-control-label" for="customCheckRegister"><span>I agree with the <a href="{% url 'auths:privacy-policy' %}" target="_blank">Privacy Policy</a></span></label>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary mt-4" [disabled]="!submitReady">Create account</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
