{% extends 'base-authpage.html' %}
{% load static %}
{% block navbar %}
{% include 'include/nav-authpage.html' %}
{% endblock %}
{% block style %}
<!-- select2 -->
<link type="text/css" href="{% static 'vendor/select2/css/select2.min.css' %}" rel="stylesheet">
<link type="text/css" href="{% static 'vendor/select2-bootstrap/select2-argon.min.css' %}" rel="stylesheet">
<style>
  /* overwright select2.min.css */
  .select2-container--open .select2-dropdown--below {
    border: none;
  }

  .select2-container--open .select2-dropdown--above {
    border: none;
  }

  /* tags */
  .tag-label {
    border-bottom: .0625rem solid rgba(0, 0, 0, .05);
    display: block;
    padding: .25rem 0;
    color: #172b4d;
  }

  .tags-section {
    /* max-width: 15rem; */
    width: 12rem;
    margin-right: 1.5rem;
    flex: 0 1 27%;
    text-align: left;
  }

  .tags-section .form-group {
    margin-bottom: 30px;
  }
  .list-name {
    font-size:.9rem;
    font-family: inherit;
    font-weight: 600;
    /* line-height: 1.5; */
    color: #32325d;
  }
  .list-image{
    width: 1rem;
  }
  .list-uni{
    font-size:.9rem;
    font-family: inherit;
    font-weight: 400;
    /* line-height: 1.5; */
    color: #5e72e4;
  }
  .list-major{
    font-size:.9rem;
    font-family: inherit;
    font-weight: 400;
    /* line-height: 1.5; */
    color: #8898aa;
  }

  .list-border{
    border-bottom: .0625rem solid rgba(0, 0, 0, .05);
    display: block;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  .card {
      margin-bottom: 30px;
      box-shadow: 0 1px 1px rgba(50,50,93,.1), 0 1px 1px rgba(0,0,0,.07);
      border: 0;
  }

  /* image */
  .avatar-responsive {
    /* xs */
    /* width: 24px;
    height: 24px;
    font-size: .75rem; */
    /* sm */
    /* width: 36px;
    height: 36px;
    font-size: .875rem; */
    /* md */
    /* width: 48px;
    height: 48px;
    font-size: 1rem; */
    /* lg */
    /* width: 58px;
    height: 58px; */
    font-size: .875rem;
    /* xl */
    width: 58px;
    height: 58px;

  }

  /* media */
  @media (min-width: 1200px) {}

  @media (min-width: 992px) {
    .avatar-responsive {
      width: 100px;
      height: 100px;
    }
    .list-border{
    border-bottom: none;
    display: block;
    padding-bottom: 0;
    padding-top: 0;

    }
    .list-name{
    font-size:1.25rem;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
    color: #32325d;
    }
    .list-image{
      width: 1.25rem;
    }
    .list-uni{
    font-size:1rem;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.5;
    color: #32325d;
  }
  .list-major{
    font-size:.8rem;
    font-family: inherit;
    font-weight: 500;
    /* line-height: 1.5; */
    color: #8898aa;
  }
  }

  @media (min-width: 768px) {

  }

  @media (min-width: 576px) {

  }
</style>
<!-- Slider -->
<link href="{% static 'vendor/nouislider/css/nouislider.min.css' %}" rel="stylesheet">
<style>
  .slider-year {
    font-weight: 700;
    font-size: .75rem;
    display: block;
  }
</style>
{% endblock %}

{% block scripts %}
<!-- Select2 -->
<script src="{% static 'vendor/anchor-js/anchor.min.js' %}"></script>
<script src="{% static 'vendor/select2/js/select2.full.js' %}"></script>
<!-- Select2 config -->
<script>
  $.fn.select2.defaults.set("theme", "bootstrap");
  $(".select2-single, .select2-multiple").select2({
    placeholder: function () {
      $(this).data('placeholder');
    },
    width: null,
    containerCssClass: ':all:'
  });
  $(".select2-single, .select2-multiple, .select2-allow-clear, .js-data-example-ajax").on("select2:open", function () {
    if ($(this).parents("[class*='has-']").length) {
      var classNames = $(this).parents("[class*='has-']")[0].className.split(/\s+/);
      for (var i = 0; i < classNames.length; ++i) {
        if (classNames[i].match("has-")) {
          $("body > .select2-container").addClass(classNames[i]);
        }
      }
    }
  });
</script>
<!-- noUIslider for Study abroad year-->
<script>
  var startYear = document.getElementById("startYear"),
    startYear_start = document.getElementById("startYear_start"),
    startYear_start_input = document.getElementById("startYear_start_input"),
    startYear_end = document.getElementById("startYear_end"),
    startYear_end_input = document.getElementById("startYear_end_input"),
    starYear_span = [startYear_start, startYear_end];
  starYear_input = [startYear_start_input, startYear_end_input];
  noUiSlider.create(startYear, {
    start: [parseInt(startYear_start.getAttribute('data-range-value-low')), parseInt(startYear_end.getAttribute('data-range-value-high'))],
    // tooltips: [true, true],
    connect: !0,
    start: ['2000', '2010'],
    step: 1,
    range: {
      min: parseInt(startYear.getAttribute('data-range-value-min')),
      max: parseInt(startYear.getAttribute('data-range-value-max'))
    }
  }), startYear.noUiSlider.on("update", function (a, b) {
    starYear_span[b].textContent = Math.round(a[b])
    starYear_input[b].value = Math.round(a[b])
  })
  var endYear = document.getElementById("endYear"),
    endYear_start = document.getElementById("endYear_start"),
    endYear_start_input = document.getElementById("endYear_start_input"),
    endYear_end = document.getElementById("endYear_end"),
    endYear_end_input = document.getElementById("endYear_end_input"),
    endYear_span = [endYear_start, endYear_end];
  endYear_input = [endYear_start_input, endYear_end_input];
  noUiSlider.create(endYear, {
    start: [parseInt(endYear_start.getAttribute('data-range-value-low')), parseInt(endYear_end.getAttribute('data-range-value-high'))],
    // tooltips: [true, true],
    connect: !0,
    start: ['2000', '2010'],
    step: 1,
    range: {
      min: parseInt(endYear.getAttribute('data-range-value-min')),
      max: parseInt(endYear.getAttribute('data-range-value-max'))
    }
  }), endYear.noUiSlider.on("update", function (a, b) {
    endYear_span[b].textContent = Math.round(a[b])
    endYear_input[b].value = Math.round(a[b])
  })
</script>
{% endblock %}

{% block content %}
<div class="bg-secondary">
  <div class="pt-lg container">
    <div class="row mb-5">
      <div class="col">
        <h3 class="display-3">Find Alumate</h3>
      </div>
    </div>
    <div class="row">
      <!-- Tags Section -->
      <div class="col-lg-3 d-none d-lg-block">
        <form action="">
          <div class="mr-3 tags-section">
            <!-- Alumate status -->
            <div class="form-group focused">
              <span class="tag-label">
                
                Alumate Status
              </span>
              <div class="custom-control custom-checkbox my-3">
                <input class="custom-control-input" id="customCheck1" type="checkbox">
                <label class="custom-control-label" for="customCheck1">Future Student</label>
              </div>
              <div class="custom-control custom-checkbox my-3">
                <input class="custom-control-input" id="customCheck2" type="checkbox">
                <label class="custom-control-label" for="customCheck2">Current Student</label>
              </div>
              <div class="custom-control custom-checkbox my-3">
                <input class="custom-control-input" id="customCheck3" type="checkbox">
                <label class="custom-control-label" for="customCheck3">Alumni</label>
              </div>
            </div>
            <!-- Home Country -->
            <div class="form-group focused">
              <label class="tag-label" for="home_country">
                
                Home Country
              </label>
              <select name="home_country" class="select2-multiple select2-hidden-accessible" multiple="multiple"
                tabindex="-1" aria-hidden="true" data-placeholder="Add tags">
                <optgroup label="Alaskan/Hawaiian Time Zone">
                  <option value="AK">Alaska</option>
                  <option value="HI" disabled="disabled">Hawaii</option>
                </optgroup>
                <optgroup label="Pacific Time Zone">
                  <option value="CA">California</option>
                  <option value="NV">Nevada</option>
                  <option value="OR">Oregon</option>
                  <option value="WA">Washington</option>
                </optgroup>
                <optgroup label="Eastern Time Zone">
                  <option value="CT">Connecticut</option>
                  <option value="DE">Delaware</option>
                  <option value="FL">Florida</option>
                  <option value="VT">Vermont</option>
                  <option value="VA">Virginia</option>
                  <option value="WV">West Virginia</option>
                </optgroup>
                <option value="TNOGZ" disabled="disabled">The No Optgroup Zone</option>
                <option value="TPZ">The Panic Zone</option>
                <option value="TTZ">The Twilight Zone</option>
              </select>
            </div>
            <!-- Study Abroad Country -->
            <div class="form-group">
              <label class="tag-label" for="study_abroad_country">
                
                Study Abroad Country
              </label>
              <select name="study_abroad_country" class="select2-multiple select2-hidden-accessible" multiple="multiple"
                tabindex="-1" aria-hidden="true" data-placeholder="Add tags">
                <optgroup label="Alaskan/Hawaiian Time Zone">
                  <option value="AK">Alaska</option>
                  <option value="HI" disabled="disabled">Hawaii</option>
                </optgroup>
                <optgroup label="Pacific Time Zone">
                  <option value="CA">California</option>
                  <option value="NV">Nevada</option>
                  <option value="OR">Oregon</option>
                  <option value="WA">Washington</option>
                </optgroup>
                <optgroup label="Eastern Time Zone">
                  <option value="CT">Connecticut</option>
                  <option value="DE">Delaware</option>
                  <option value="FL">Florida</option>
                  <option value="VT">Vermont</option>
                  <option value="VA">Virginia</option>
                  <option value="WV">West Virginia</option>
                </optgroup>
                <option value="TNOGZ" disabled="disabled">The No Optgroup Zone</option>
                <option value="TPZ">The Panic Zone</option>
                <option value="TTZ">The Twilight Zone</option>
              </select>
            </div>
            <!-- Study Abroad School -->
            <div class="form-group">
              <label class="tag-label" for="study_abroad_school">
                
                Study Abroad School
              </label>
              <select name="study_abroad_school" class="select2-multiple select2-hidden-accessible" multiple="multiple"
                tabindex="-1" aria-hidden="true" data-placeholder="Add tags">
                <optgroup label="Alaskan/Hawaiian Time Zone">
                  <option value="AK">Alaska</option>
                  <option value="HI" disabled="disabled">Hawaii</option>
                </optgroup>
                <optgroup label="Pacific Time Zone">
                  <option value="CA">California</option>
                  <option value="NV">Nevada</option>
                  <option value="OR">Oregon</option>
                  <option value="WA">Washington</option>
                </optgroup>
                <optgroup label="Eastern Time Zone">
                  <option value="CT">Connecticut</option>
                  <option value="DE">Delaware</option>
                  <option value="FL">Florida</option>
                  <option value="VT">Vermont</option>
                  <option value="VA">Virginia</option>
                  <option value="WV">West Virginia</option>
                </optgroup>
                <option value="TNOGZ" disabled="disabled">The No Optgroup Zone</option>
                <option value="TPZ">The Panic Zone</option>
                <option value="TTZ">The Twilight Zone</option>
              </select>
            </div>
            <!-- Study Abroad Major -->
            <div class="form-group">
              <label class="tag-label" for="study_abroad_major">
                
                Study Abroad Major
              </label>
              <select name="study_abroad_major" class="select2-multiple select2-hidden-accessible" multiple="multiple"
                tabindex="-1" aria-hidden="true" data-placeholder="Add tags">
                <optgroup label="Alaskan/Hawaiian Time Zone">
                  <option value="AK">Alaska</option>
                  <option value="HI" disabled="disabled">Hawaii</option>
                </optgroup>
                <optgroup label="Pacific Time Zone">
                  <option value="CA">California</option>
                  <option value="NV">Nevada</option>
                  <option value="OR">Oregon</option>
                  <option value="WA">Washington</option>
                </optgroup>
                <optgroup label="Eastern Time Zone">
                  <option value="CT">Connecticut</option>
                  <option value="DE">Delaware</option>
                  <option value="FL">Florida</option>
                  <option value="VT">Vermont</option>
                  <option value="VA">Virginia</option>
                  <option value="WV">West Virginia</option>
                </optgroup>
                <option value="TNOGZ" disabled="disabled">The No Optgroup Zone</option>
                <option value="TPZ">The Panic Zone</option>
                <option value="TTZ">The Twilight Zone</option>
              </select>
            </div>
            <!-- Study Abroad Year -->
            <div class="form-group">
              <label class="tag-label" for="home_countries">
                
                Study Abroad Year
              </label>
              <div class="my-4">
                <span class="slider-year">Start Year</span>
                <input class="d-none" type="text" name="startYear_start_input" id="startYear_start_input">
                <input class="d-none" type="text" name="startYear_end_input" id="startYear_end_input">
                <span><small class="text-muted"><span data-range-value-low="1970" id="startYear_start"></span> -
                    <span data-range-value-high="2040" id="startYear_end"></span></small></span>
                <div id="startYear" data-range-value-min="1980" data-range-value-max="2030"></div>
              </div>
              <div class="my-4">
                <span class="slider-year">End Year</span>
                <input class="d-none" type="text" name="endYear_start_input" id="endYear_start_input">
                <input class="d-none" type="text" name="endYear_end_input" id="endYear_end_input">
                <span><small class="text-muted"><span data-range-value-low="1970" id="endYear_start"></span> - <span
                      data-range-value-high="2040" id="endYear_end"></span></small></span>
                <div id="endYear" data-range-value-min="1980" data-range-value-max="2030"></div>
              </div>
            </div>
            <!-- Living City -->
            <div class="form-group">
              <label class="tag-label" for="living_city">
                
                Living City
              </label>
              <select name="living_city" class="select2-multiple select2-hidden-accessible" multiple="multiple"
                tabindex="-1" aria-hidden="true" data-placeholder="Add tags">
                <optgroup label="Alaskan/Hawaiian Time Zone">
                  <option value="AK">Alaska</option>
                  <option value="HI" disabled="disabled">Hawaii</option>
                </optgroup>
                <optgroup label="Pacific Time Zone">
                  <option value="CA">California</option>
                  <option value="NV">Nevada</option>
                  <option value="OR">Oregon</option>
                  <option value="WA">Washington</option>
                </optgroup>
                <optgroup label="Eastern Time Zone">
                  <option value="CT">Connecticut</option>
                  <option value="DE">Delaware</option>
                  <option value="FL">Florida</option>
                  <option value="VT">Vermont</option>
                  <option value="VA">Virginia</option>
                  <option value="WV">West Virginia</option>
                </optgroup>
                <option value="TNOGZ" disabled="disabled">The No Optgroup Zone</option>
                <option value="TPZ">The Panic Zone</option>
                <option value="TTZ">The Twilight Zone</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <!-- End Tags Section-->
      <!-- results area -->
      <div class="col-lg-9 col-12">
        <div class="d-flex flex-row justify-content-between mb-3">
          <span class="text-primary" style="font-size: .9rem; font-weight: 600;">
            46 resuts
          </span>
          <div class="d-lg-none">
            <button class="btn-primary btn btn-sm">Filter</button>
          </div>
        </div>
        <!-- resutls -->
        <div class="card pb-5 px-4">
          <div class="row">
            <!-- user-1 -->
            <div class="col-12 col-lg-4">
              <div class="d-flex flex-row flex-lg-column justify-content-lg-center mt-lg-5">
                <div class="align-self-center mr-3 mr-lg-0 mb-lg-3">
                  <a href="">
                    <img src="{% static 'img/faces/team-4.jpg' %}"
                      class="img-fluid rounded-circle avatar-responsive">
                  </a>
                </div>
                <div class="align-self-lg-center mx-2 list-border">
                  <div class="list-name">
                    Jessica Jones
                      <img class="img-fluid rounded shadow ml-2 list-image"
                        src="{% static 'img/brand/logo_current.png' %}">                    
                  </div>
                  <div class="text-muted font-weight-500 small d-none d-lg-block">
                    from Japan to U.S.
                  </div>
                  <div class="list-uni mb-0">Harvard University</div>
                  <div class="list-major">MBA <span class="text-muted font-weight-300"><small>(2020 ~
                        2022)</small></span></div>
                  <div class="font-weight-400 d-none d-lg-block"><small><i class="ni ni-pin-3 mr-2"></i>Boston,
                      U.S.</small></div>
                </div>
                <div class="flex-grow-1 text-right text-lg-center list-border">
                  <button class="mt-lg-3 btn btn-outline-primary btn-sm btn-icon btn-round"><i class="fa fa-plus"></i> follow</button>
                </div>
              </div>
            </div>
            <!-- user-2 -->
            <div class="col-12 col-lg-4">
              <div class="d-flex flex-row flex-lg-column justify-content-lg-center mt-lg-5">
                <div class="align-self-center mr-3 mr-lg-0 mb-lg-3">
                  <a href="">
                    <img src="{% static 'img/faces/team-4.jpg' %}"
                      class="img-fluid rounded-circle avatar-responsive">
                  </a>
                </div>
                <div class="align-self-lg-center mx-2 list-border">
                  <div class="list-name">
                    Jessica Jones
                      <img class="img-fluid rounded shadow ml-2 list-image"
                        src="{% static 'img/brand/logo_current.png' %}">                    
                  </div>
                  <div class="text-muted font-weight-500 small d-none d-lg-block">
                    from Japan to U.S.
                  </div>
                  <div class="list-uni mb-0">Harvard University</div>
                  <div class="list-major">MBA <span class="text-muted font-weight-300"><small>(2020 ~
                        2022)</small></span></div>
                  <div class="font-weight-400 d-none d-lg-block"><small><i class="ni ni-pin-3 mr-2"></i>Boston,
                      U.S.</small></div>
                </div>
                <div class="flex-grow-1 text-right text-lg-center list-border">
                  <button class="mt-lg-3 btn btn-outline-primary btn-sm btn-icon btn-round"><i class="fa fa-plus"></i> follow</button>
                </div>
              </div>
            </div>
            <!-- user-3 -->
            <div class="col-12 col-lg-4">
              <div class="d-flex flex-row flex-lg-column justify-content-lg-center mt-lg-5">
                <div class="align-self-center mr-3 mr-lg-0 mb-lg-3">
                  <a href="">
                    <img src="{% static 'img/faces/team-4.jpg' %}"
                      class="img-fluid rounded-circle avatar-responsive">
                  </a>
                </div>
                <div class="align-self-lg-center mx-2 list-border">
                  <div class="list-name">
                    Jessica Jones
                      <img class="img-fluid rounded shadow ml-2 list-image"
                        src="{% static 'img/brand/logo_current.png' %}">                    
                  </div>
                  <div class="text-muted font-weight-500 small d-none d-lg-block">
                    from Japan to U.S.
                  </div>
                  <div class="list-uni mb-0">Harvard University</div>
                  <div class="list-major">MBA <span class="text-muted font-weight-300"><small>(2020 ~
                        2022)</small></span></div>
                  <div class="font-weight-400 d-none d-lg-block"><small><i class="ni ni-pin-3 mr-2"></i>Boston,
                      U.S.</small></div>
                </div>
                <div class="flex-grow-1 text-right text-lg-center list-border">
                  <button class="mt-lg-3 btn btn-outline-primary btn-sm btn-icon btn-round"><i class="fa fa-plus"></i> follow</button>
                </div>
              </div>
            </div>
            <!-- user-4 -->
            <div class="col-12 col-lg-4">
              <div class="d-flex flex-row flex-lg-column justify-content-lg-center mt-lg-5">
                <div class="align-self-center mr-3 mr-lg-0 mb-lg-3">
                  <a href="">
                    <img src="{% static 'img/faces/team-4.jpg' %}"
                      class="img-fluid rounded-circle avatar-responsive">
                  </a>
                </div>
                <div class="align-self-lg-center mx-2 list-border">
                  <div class="list-name">
                    Jessica Jones
                      <img class="img-fluid rounded shadow ml-2 list-image"
                        src="{% static 'img/brand/logo_current.png' %}">                    
                  </div>
                  <div class="text-muted font-weight-500 small d-none d-lg-block">
                    from Japan to U.S.
                  </div>
                  <div class="list-uni mb-0">Harvard University</div>
                  <div class="list-major">MBA <span class="text-muted font-weight-300"><small>(2020 ~
                        2022)</small></span></div>
                  <div class="font-weight-400 d-none d-lg-block"><small><i class="ni ni-pin-3 mr-2"></i>Boston,
                      U.S.</small></div>
                </div>
                <div class="flex-grow-1 text-right text-lg-center list-border">
                  <button class="mt-lg-3 btn btn-outline-primary btn-sm btn-icon btn-round"><i class="fa fa-plus"></i> follow</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end resutls -->
      </div>
      <!-- end results area -->
    </div>
  </div>
</div>
{% endblock %}