{% extends 'base-authpage.html' %}
{% load static %}
{% block navbar %}
{% include 'include/nav-authpage.html' %}
{% endblock %}
{% block style %}
<!-- select2 -->
<link type="text/css" href="{% static 'vendor/select2/css/select2.min.css' %}" rel="stylesheet">
<link type="text/css" href="{% static 'vendor/select2-bootstrap/select2-argon.min.css' %}" rel="stylesheet">
<style>
  /* overwright select2.min.css */
  .select2-container--open .select2-dropdown--below {
    border: none;
  }

  .select2-container--open .select2-dropdown--above {
    border: none;
  }

  /* tags */
  .tag-label {
    border-bottom: .0625rem solid rgba(0, 0, 0, .05);
    display: block;
    padding: .25rem 0;
    color: #172b4d;
  }

  .tags-section {
    /* max-width: 15rem; */
    width: 12rem;
    margin-right: 1.5rem;
    flex: 0 1 27%;
    text-align: left;
  }

  .tags-section .form-group {
    margin-bottom: 30px;
  }

  /* image */
  .avatar-responsive {
    /* xs */
    /* width: 24px;
    height: 24px;
    font-size: .75rem; */
    /* sm */
    /* width: 36px;
    height: 36px;
    font-size: .875rem; */
    /* md */
    /* width: 48px;
    height: 48px;
    font-size: 1rem; */
    /* lg */
    /* width: 58px;
    height: 58px; */
    font-size: .875rem;
    /* xl */
    width: 58px;
    height: 58px;

  }

  /* media */
  @media (min-width: 1200px) {}

  @media (min-width: 992px) {}

  @media (min-width: 768px) {}

  @media (min-width: 576px) {
    .avatar-responsive {
      width: 100px;
      height: 100px;
    }
  }
</style>
<!-- Slider -->
<link href="{% static 'vendor/nouislider/css/nouislider.min.css' %}" rel="stylesheet">
<style>
  .slider-year {
    font-weight: 700;
    font-size: .75rem;
    display: block;
  }
</style>
{% endblock %}
{% block scripts %}
<!-- Select2 -->
<script src="{% static 'vendor/anchor-js/anchor.min.js' %}"></script>
<script src="{% static 'vendor/select2/js/select2.full.js' %}"></script>
<!-- Select2 config -->
<script>
  $.fn.select2.defaults.set("theme", "bootstrap");
  $(".select2-single, .select2-multiple").select2({
    placeholder: function () {
      $(this).data('placeholder');
    },
    width: null,
    containerCssClass: ':all:'
  });
  $(".select2-single, .select2-multiple, .select2-allow-clear, .js-data-example-ajax").on("select2:open", function () {
    if ($(this).parents("[class*='has-']").length) {
      var classNames = $(this).parents("[class*='has-']")[0].className.split(/\s+/);
      for (var i = 0; i < classNames.length; ++i) {
        if (classNames[i].match("has-")) {
          $("body > .select2-container").addClass(classNames[i]);
        }
      }
    }
  });
</script>
<!-- noUIslider for Study abroad year-->
<script>
  var startYear = document.getElementById("startYear"),
    startYear_start = document.getElementById("startYear_start"),
    startYear_start_input = document.getElementById("startYear_start_input"),
    startYear_end = document.getElementById("startYear_end"),
    startYear_end_input = document.getElementById("startYear_end_input"),
    starYear_span = [startYear_start, startYear_end];
  starYear_input = [startYear_start_input, startYear_end_input];
  noUiSlider.create(startYear, {
    start: [parseInt(startYear_start.getAttribute('data-range-value-low')), parseInt(startYear_end.getAttribute('data-range-value-high'))],
    // tooltips: [true, true],
    connect: !0,
    start: ['2000', '2010'],
    step: 1,
    range: {
      min: parseInt(startYear.getAttribute('data-range-value-min')),
      max: parseInt(startYear.getAttribute('data-range-value-max'))
    }
  }), startYear.noUiSlider.on("update", function (a, b) {
    starYear_span[b].textContent = Math.round(a[b])
    starYear_input[b].value = Math.round(a[b])
  })
  var endYear = document.getElementById("endYear"),
    endYear_start = document.getElementById("endYear_start"),
    endYear_start_input = document.getElementById("endYear_start_input"),
    endYear_end = document.getElementById("endYear_end"),
    endYear_end_input = document.getElementById("endYear_end_input"),
    endYear_span = [endYear_start, endYear_end];
  endYear_input = [endYear_start_input, endYear_end_input];
  noUiSlider.create(endYear, {
    start: [parseInt(endYear_start.getAttribute('data-range-value-low')), parseInt(endYear_end.getAttribute('data-range-value-high'))],
    // tooltips: [true, true],
    connect: !0,
    start: ['2000', '2010'],
    step: 1,
    range: {
      min: parseInt(endYear.getAttribute('data-range-value-min')),
      max: parseInt(endYear.getAttribute('data-range-value-max'))
    }
  }), endYear.noUiSlider.on("update", function (a, b) {
    endYear_span[b].textContent = Math.round(a[b])
    endYear_input[b].value = Math.round(a[b])
  })
</script>
{% endblock %}

{% block content %}
<div class="bg-secondary">
  <div class="pt-lg mb-5 container">
    <div class="row mb-5">
      <div class="col-md-8">
        <h3 class="display-3">Find Alumate</h3>
        <p class="lead mt-1">Share the information and richen the collective knowledge to maximize the possibility that
          all people are able to reach the write information. Making a inquiry is the best way to reach your goals.
          Answering questions is the best way to support your mates.</p>
      </div>
    </div>
    <div class="d-sm-none text-right mb-4">
      <button class="btn-primary btn btn-sm">Filter</button>
    </div>
    <div class="mb-3">
      <span class="text-primary" style="font-size: 1rem;">
        <small>46 resuts</small>
      </span>
    </div>
    <div class="row">
      <!-- user-1 -->
      <div class="col-12 col-sm-4">
        <div class="d-flex flex-row flex-sm-column">
          <div class="align-self-sm-center mx-3 mx-sm-0 mb-3">
            <a href="">
              <img src="{% static 'img/faces/team-4.jpg' %}"
                class="img-fluid rounded-circle shadow-lg avatar-responsive">
            </a>
          </div>
          <div class="align-self-sm-center mx-2">
            <h5>Jessica Jones
              <img class="img-fluid rounded shadow ml-2" style="width: 1.25rem;"
                src="{% static 'img/brand/logo_current.png' %}">
            </h5>
            <div class="text-muted font-weight-500 small d-none d-sm-block">
              from Japan to U.S.
            </div>
            <div class="h6 font-weight-bold mb-0">Harvard University</div>
            <div class="text-muted small font-weight-500">MBA <span class="text-muted font-weight-300"><small>(2020 ~
                  2022)</small></span></div>
            <div class="font-weight-400 d-none d-sm-block"><small><i class="ni ni-pin-3 mr-2"></i>Boston,
                U.S.</small></div>
          </div>
          <div class="ml-auto ml-sm-0 align-self-sm-center">
            <button class="btn btn-outline-primary btn-sm btn-icon btn-round"><i class="fa fa-plus"></i> follow</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Tags Section -->
    <div class="order-2 order-lg-1 d-none d-sm-block">
      <form action="">
        <div class="mr-3 tags-section">
          <!-- Alumate status -->
          <div class="form-group focused">
            <span class="tag-label">
              <i class="ni ni-tag text-default"></i>
              Alumate Status
            </span>
            <div class="custom-control custom-checkbox my-3">
              <input class="custom-control-input" id="customCheck1" type="checkbox">
              <label class="custom-control-label" for="customCheck1">Future Student</label>
            </div>
            <div class="custom-control custom-checkbox my-3">
              <input class="custom-control-input" id="customCheck2" type="checkbox">
              <label class="custom-control-label" for="customCheck2">Current Student</label>
            </div>
            <div class="custom-control custom-checkbox my-3">
              <input class="custom-control-input" id="customCheck3" type="checkbox">
              <label class="custom-control-label" for="customCheck3">Alumni</label>
            </div>
          </div>
          <!-- Home Country -->
          <div class="form-group focused">
            <label class="tag-label" for="home_country">
              <i class="ni ni-tag text-default"></i>
              Home Country
            </label>
            <select name="home_country" class="select2-multiple select2-hidden-accessible" multiple="multiple"
              tabindex="-1" aria-hidden="true" data-placeholder="Add tags">
              <optgroup label="Alaskan/Hawaiian Time Zone">
                <option value="AK">Alaska</option>
                <option value="HI" disabled="disabled">Hawaii</option>
              </optgroup>
              <optgroup label="Pacific Time Zone">
                <option value="CA">California</option>
                <option value="NV">Nevada</option>
                <option value="OR">Oregon</option>
                <option value="WA">Washington</option>
              </optgroup>
              <optgroup label="Eastern Time Zone">
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="FL">Florida</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WV">West Virginia</option>
              </optgroup>
              <option value="TNOGZ" disabled="disabled">The No Optgroup Zone</option>
              <option value="TPZ">The Panic Zone</option>
              <option value="TTZ">The Twilight Zone</option>
            </select>
          </div>
          <!-- Study Abroad Country -->
          <div class="form-group">
            <label class="tag-label" for="study_abroad_country">
              <i class="ni ni-tag text-default"></i>
              Study Abroad Country
            </label>
            <select name="study_abroad_country" class="select2-multiple select2-hidden-accessible"
              multiple="multiple" tabindex="-1" aria-hidden="true" data-placeholder="Add tags">
              <optgroup label="Alaskan/Hawaiian Time Zone">
                <option value="AK">Alaska</option>
                <option value="HI" disabled="disabled">Hawaii</option>
              </optgroup>
              <optgroup label="Pacific Time Zone">
                <option value="CA">California</option>
                <option value="NV">Nevada</option>
                <option value="OR">Oregon</option>
                <option value="WA">Washington</option>
              </optgroup>
              <optgroup label="Eastern Time Zone">
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="FL">Florida</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WV">West Virginia</option>
              </optgroup>
              <option value="TNOGZ" disabled="disabled">The No Optgroup Zone</option>
              <option value="TPZ">The Panic Zone</option>
              <option value="TTZ">The Twilight Zone</option>
            </select>
          </div>
          <!-- Study Abroad School -->
          <div class="form-group">
            <label class="tag-label" for="study_abroad_school">
              <i class="ni ni-tag text-default"></i>
              Study Abroad School
            </label>
            <select name="study_abroad_school" class="select2-multiple select2-hidden-accessible"
              multiple="multiple" tabindex="-1" aria-hidden="true" data-placeholder="Add tags">
              <optgroup label="Alaskan/Hawaiian Time Zone">
                <option value="AK">Alaska</option>
                <option value="HI" disabled="disabled">Hawaii</option>
              </optgroup>
              <optgroup label="Pacific Time Zone">
                <option value="CA">California</option>
                <option value="NV">Nevada</option>
                <option value="OR">Oregon</option>
                <option value="WA">Washington</option>
              </optgroup>
              <optgroup label="Eastern Time Zone">
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="FL">Florida</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WV">West Virginia</option>
              </optgroup>
              <option value="TNOGZ" disabled="disabled">The No Optgroup Zone</option>
              <option value="TPZ">The Panic Zone</option>
              <option value="TTZ">The Twilight Zone</option>
            </select>
          </div>
          <!-- Study Abroad Major -->
          <div class="form-group">
            <label class="tag-label" for="study_abroad_major">
              <i class="ni ni-tag text-default"></i>
              Study Abroad Major
            </label>
            <select name="study_abroad_major" class="select2-multiple select2-hidden-accessible"
              multiple="multiple" tabindex="-1" aria-hidden="true" data-placeholder="Add tags">
              <optgroup label="Alaskan/Hawaiian Time Zone">
                <option value="AK">Alaska</option>
                <option value="HI" disabled="disabled">Hawaii</option>
              </optgroup>
              <optgroup label="Pacific Time Zone">
                <option value="CA">California</option>
                <option value="NV">Nevada</option>
                <option value="OR">Oregon</option>
                <option value="WA">Washington</option>
              </optgroup>
              <optgroup label="Eastern Time Zone">
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="FL">Florida</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WV">West Virginia</option>
              </optgroup>
              <option value="TNOGZ" disabled="disabled">The No Optgroup Zone</option>
              <option value="TPZ">The Panic Zone</option>
              <option value="TTZ">The Twilight Zone</option>
            </select>
          </div>
          <!-- Study Abroad Year -->
          <div class="form-group">
            <label class="tag-label" for="home_countries">
              <i class="ni ni-tag text-default"></i>
              Study Abroad Year
            </label>
            <div class="my-4">
              <span class="slider-year">Start Year</span>
              <input class="d-none" type="text" name="startYear_start_input" id="startYear_start_input">
              <input class="d-none" type="text" name="startYear_end_input" id="startYear_end_input">
              <span><small class="text-muted"><span data-range-value-low="1970" id="startYear_start"></span> -
                  <span data-range-value-high="2040" id="startYear_end"></span></small></span>
              <div id="startYear" data-range-value-min="1980" data-range-value-max="2030"></div>
            </div>
            <div class="my-4">
              <span class="slider-year">End Year</span>
              <input class="d-none" type="text" name="endYear_start_input" id="endYear_start_input">
              <input class="d-none" type="text" name="endYear_end_input" id="endYear_end_input">
              <span><small class="text-muted"><span data-range-value-low="1970" id="endYear_start"></span> - <span
                    data-range-value-high="2040" id="endYear_end"></span></small></span>
              <div id="endYear" data-range-value-min="1980" data-range-value-max="2030"></div>
            </div>
          </div>
          <!-- Living City -->
          <div class="form-group">
            <label class="tag-label" for="living_city">
              <i class="ni ni-tag text-default"></i>
              Living City
            </label>
            <select name="living_city" class="select2-multiple select2-hidden-accessible" multiple="multiple"
              tabindex="-1" aria-hidden="true" data-placeholder="Add tags">
              <optgroup label="Alaskan/Hawaiian Time Zone">
                <option value="AK">Alaska</option>
                <option value="HI" disabled="disabled">Hawaii</option>
              </optgroup>
              <optgroup label="Pacific Time Zone">
                <option value="CA">California</option>
                <option value="NV">Nevada</option>
                <option value="OR">Oregon</option>
                <option value="WA">Washington</option>
              </optgroup>
              <optgroup label="Eastern Time Zone">
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="FL">Florida</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WV">West Virginia</option>
              </optgroup>
              <option value="TNOGZ" disabled="disabled">The No Optgroup Zone</option>
              <option value="TPZ">The Panic Zone</option>
              <option value="TTZ">The Twilight Zone</option>
            </select>
          </div>
        </div>
      </form>
    </div>
    <!-- End Tags Section-->
        
  </div>

</div>

  <!-- <section class="section section-lg">
      <div class="container">

        <div class="row mb-sm">
          <div class="col-lg-8">
            <h3 class="display-3">Future students</h3>
          </div>
        </div>
        <div class="row mb-lg">
          <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="px-4">
              <img src="{% static 'img/theme/team-1-800x800.jpg' %}"
                class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;" alt="image">
              <div class="pt-4 text-center">
                <h5 class="title">
                  <span class="d-block mb-1">Ryan Tompson</span>
                  <small class="h6 text-muted">Oxford University</small>
                </h5>
                <div class="mt-1">
                  <button class="btn btn-transparent rounded">
                    <i class="fa fa-plus text-danger"></i>
                    <small>Connect</small>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="px-4">
              <img src="{% static 'img/theme/team-2-800x800.jpg' %}"
                class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;" alt="image">
              <div class="pt-4 text-center">
                <h5 class="title">
                  <span class="d-block mb-1">Romina Hadid</span>
                  <small class="h6 text-muted">MIT</small>
                </h5>
                <div class="mt-1">
                  <button class="btn btn-transparent rounded">
                    <i class="fa fa-plus text-danger"></i>
                    <small>Connect</small>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="px-4">
              <img src="{% static 'img/theme/team-3-800x800.jpg' %}"
                class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;" alt="image">
              <div class="pt-4 text-center">
                <h5 class="title">
                  <span class="d-block mb-1">Alexander Smith</span>
                  <small class="h6 text-muted">Harvard University</small>
                </h5>
                <div class="mt-1">
                  <button class="btn btn-transparent rounded">
                    <i class="fa fa-plus text-danger"></i>
                    <small>Connect</small>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="px-4">
              <img src="{% static 'img/theme/team-4-800x800.jpg' %}"
                class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;" alt="image">
              <div class="pt-4 text-center">
                <h5 class="title">
                  <span class="d-block mb-1">John Doe</span>
                  <small class="h6 text-muted">Cambridge University</small>
                </h5>
                <div class="mt-1">
                  <button class="btn btn-transparent rounded">
                    <i class="fa fa-plus text-danger"></i>
                    <small>Connect</small>
                  </button>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="row mb-sm">
          <div class="col-lg-8">
            <h3 class="display-3">Current students</h3>
          </div>
        </div>
        <div class="row mb-lg">
          <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="px-4">
              <img src="{% static 'img/sam.png' %}" class="rounded-circle img-center shadow shadow-lg--hover"
                style="object-fit:cover; width:182px; height:182px;" alt="image">
              <div class="pt-4 text-center">
                <h5 class="title">
                  <span class="d-block mb-1">Sam Saito</span>
                  <small class="h6 text-muted">Oxford University</small>
                </h5>
                <div class="mt-1">
                  <button class="btn btn-transparent rounded">
                    <i class="fa fa-plus text-danger"></i>
                    <small>Connect</small>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="px-4">
              <img src="{% static 'img/yen.png' %}" class="rounded-circle img-center shadow shadow-lg--hover"
                style="object-fit:cover; width:182px; height:182px;" alt="image">
              <div class="pt-4 text-center">
                <h5 class="title">
                  <span class="d-block mb-1">Yen Kita</span>
                  <small class="h6 text-muted">MIT</small>
                </h5>
                <div class="mt-1">
                  <button class="btn btn-transparent rounded">
                    <i class="fa fa-plus text-danger"></i>
                    <small>Connect</small>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="px-4">
              <img src="{% static 'img/theme/team-3-800x800.jpg' %}"
                class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;" alt="image">
              <div class="pt-4 text-center">
                <h5 class="title">
                  <span class="d-block mb-1">Alexander Smith</span>
                  <small class="h6 text-muted">Harvard University</small>
                </h5>
                <div class="mt-1">
                  <button class="btn btn-transparent rounded">
                    <i class="fa fa-plus text-danger"></i>
                    <small>Connect</small>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="px-4">
              <img src="{% static 'img/theme/team-4-800x800.jpg' %}"
                class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;" alt="image">
              <div class="pt-4 text-center">
                <h5 class="title">
                  <span class="d-block mb-1">John Doe</span>
                  <small class="h6 text-muted">Cambridge University</small>
                </h5>
                <div class="mt-1">
                  <button class="btn btn-transparent rounded">
                    <i class="fa fa-plus text-danger"></i>
                    <small>Connect</small>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-sm">
          <div class="col-lg-8">
            <h3 class="display-3">Alumni</h3>
          </div>
        </div>
        <div class="row mb-md">
          <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="px-4">
              <img src="{% static 'img/shinta.jpg' %}" class="rounded-circle img-center shadow shadow-lg--hover"
                style="object-fit:cover; width:182px; height:182px;" alt="image">
              <div class="pt-4 text-center">
                <h5 class="title">
                  <span class="d-block mb-1">Shinta Nishino</span>
                  <small class="h6 text-muted">University of Reading</small>
                </h5>
                <div class="mt-1">
                  <button class="btn btn-transparent rounded">
                    <i class="fa fa-plus text-danger"></i>
                    <small>Connect</small>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="px-4">
              <img src="{% static 'img/amy.jpg' %}" class="rounded-circle img-center shadow shadow-lg--hover"
                style="object-fit:cover; width:182px; height:182px;" alt="image">
              <div class="pt-4 text-center">
                <h5 class="title">
                  <span class="d-block mb-1">Amy Ho</span>
                  <small class="h6 text-muted">University of Reading</small>
                </h5>
                <div class="mt-1">
                  <button class="btn btn-transparent rounded">
                    <i class="fa fa-plus text-danger"></i>
                    <small>Connect</small>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="px-4">
              <img src="{% static 'img/ali.png' %}" class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                style="width: 200px;" alt="image">
              <div class="pt-4 text-center">
                <h5 class="title">
                  <span class="d-block mb-1">Ali Ichigo</span>
                  <small class="h6 text-muted">Harvard University</small>
                </h5>
                <div class="mt-1">
                  <button class="btn btn-transparent rounded">
                    <i class="fa fa-plus text-danger"></i>
                    <small>Connect</small>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="px-4">
              <img src="{% static 'img/ben.png' %}" class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                style="width: 200px;" alt="image">
              <div class="pt-4 text-center">
                <h5 class="title">
                  <span class="d-block mb-1">Benjamin Lalala</span>
                  <small class="h6 text-muted">Cambridge University</small>
                </h5>
                <div class="mt-1">
                  <button class="btn btn-transparent rounded">
                    <i class="fa fa-plus text-danger"></i>
                    <small>Connect</small>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section> -->

{% endblock %}