{% extends 'base-authpage.html' %}
{% load static %}
{% block navbar %}
{% include 'include/nav-authpage.html' %}
{% endblock %}
{% block scripts %}
{% endblock %}

{% block content %}
  
<style>
    .card-zoom[data-animation=zooming] {
        transition: all .3s cubic-bezier(.2,1,.22,1);
        -webkit-transition: all .3s cubic-bezier(.2,1,.22,1);
    }
    .card-zoom[data-animation=zooming]:hover {
    transform: scale(1.07);
    -webkit-transform: scale(1.07);
    z-index: 2;
    }
</style>
    <div class="wrapper">     
      <div class="main">
        <div class="pt-lg mb-5 container">

          <div class="row mb-5">
            <div class="col-md-8">
              <h3 class="display-3">Find Alumate</h3>
              <p class="lead mt-1">Share the information and richen the collective knowledge to maximize the possibility that all people are able to reach the write information. Making a inquiry is the best way to reach your goals. Answering questions is the best way to support your mates.</p>
            </div>
          </div>
          <div class="row">
            <div class="ct-example">
              
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Country
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <form action="">
                    <div class="dropdown-item">
                      <div class="custom-control custom-checkbox mb-3">
                        <input class="custom-control-input" id="customCheck1" type="checkbox">
                        <label class="custom-control-label" for="customCheck1">United Kingdom</label>
                      </div>
                    </div>
                    <div class="dropdown-item">
                      <div class="custom-control custom-checkbox mb-3">
                        <input class="custom-control-input" id="customCheck2" type="checkbox">
                        <label class="custom-control-label" for="customCheck2">United States</label>
                      </div>
                    </div>
                    <div class="dropdown-item">
                      <div class="custom-control custom-checkbox mb-3">
                        <input class="custom-control-input" id="customCheck3" type="checkbox">
                        <label class="custom-control-label" for="customCheck3">Australia</label>
                      </div>
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Apply</button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  School
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <form action="">
                    <div class="dropdown-item">
                      <div class="custom-control custom-checkbox mb-3">
                        <input class="custom-control-input" id="customCheck4" type="checkbox">
                        <label class="custom-control-label" for="customCheck4">Harvard University</label>
                      </div>
                    </div>
                    <div class="dropdown-item">
                      <div class="custom-control custom-checkbox mb-3">
                        <input class="custom-control-input" id="customCheck5" type="checkbox">
                        <label class="custom-control-label" for="customCheck5">Cambridge University</label>
                      </div>
                    </div>
                    <div class="dropdown-item">
                      <div class="custom-control custom-checkbox mb-3">
                        <input class="custom-control-input" id="customCheck6" type="checkbox">
                        <label class="custom-control-label" for="customCheck6">Tokyo University</label>
                      </div>
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Apply</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <section class="section section-lg">
            <div class="container">
        
              <div class="row mb-sm">
                <div class="col-lg-8">
                  <h3 class="display-3">Future students</h3>
                </div>
              </div>
              <div class="row mb-lg">
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                  <div class="px-4">
                    <img src="{% static 'img/theme/team-1-800x800.jpg' %}" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;" alt="image">
                    <div class="pt-4 text-center">
                      <h5 class="title">
                        <span class="d-block mb-1">Ryan Tompson</span>
                        <small class="h6 text-muted">Oxford University</small>
                      </h5>
                      <div class="mt-1">
                        <button class="btn btn-transparent rounded">
                          <i class="fa fa-plus text-danger"></i>
                          <small>Connect</small>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                  <div class="px-4">
                    <img src="{% static 'img/theme/team-2-800x800.jpg' %}" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;" alt="image">
                    <div class="pt-4 text-center">
                      <h5 class="title">
                        <span class="d-block mb-1">Romina Hadid</span>
                        <small class="h6 text-muted">MIT</small>
                      </h5>
                      <div class="mt-1">
                        <button class="btn btn-transparent rounded">
                          <i class="fa fa-plus text-danger"></i>
                          <small>Connect</small>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                  <div class="px-4">
                    <img src="{% static 'img/theme/team-3-800x800.jpg' %}" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;" alt="image">
                    <div class="pt-4 text-center">
                      <h5 class="title">
                        <span class="d-block mb-1">Alexander Smith</span>
                        <small class="h6 text-muted">Harvard University</small>
                      </h5>
                      <div class="mt-1">
                        <button class="btn btn-transparent rounded">
                          <i class="fa fa-plus text-danger"></i>
                          <small>Connect</small>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                  <div class="px-4">
                    <img src="{% static 'img/theme/team-4-800x800.jpg' %}" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;" alt="image">
                    <div class="pt-4 text-center">
                      <h5 class="title">
                        <span class="d-block mb-1">John Doe</span>
                        <small class="h6 text-muted">Cambridge University</small>
                      </h5>
                      <div class="mt-1">
                        <button class="btn btn-transparent rounded">
                          <i class="fa fa-plus text-danger"></i>
                          <small>Connect</small>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
              <div class="row mb-sm">
                <div class="col-lg-8">
                  <h3 class="display-3">Current students</h3>
                </div>
              </div>
              <div class="row mb-lg">
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                  <div class="px-4">
                    <img src="{% static 'img/sam.png' %}" class="rounded-circle img-center shadow shadow-lg--hover" style="object-fit:cover; width:182px; height:182px;" alt="image">
                    <div class="pt-4 text-center">
                      <h5 class="title">
                        <span class="d-block mb-1">Sam Saito</span>
                        <small class="h6 text-muted">Oxford University</small>
                      </h5>
                      <div class="mt-1">
                        <button class="btn btn-transparent rounded">
                          <i class="fa fa-plus text-danger"></i>
                          <small>Connect</small>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                  <div class="px-4">
                    <img src="{% static 'img/yen.png' %}" class="rounded-circle img-center shadow shadow-lg--hover" style="object-fit:cover; width:182px; height:182px;" alt="image">
                    <div class="pt-4 text-center">
                      <h5 class="title">
                        <span class="d-block mb-1">Yen Kita</span>
                        <small class="h6 text-muted">MIT</small>
                      </h5>
                      <div class="mt-1">
                        <button class="btn btn-transparent rounded">
                          <i class="fa fa-plus text-danger"></i>
                          <small>Connect</small>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                  <div class="px-4">
                    <img src="{% static 'img/theme/team-3-800x800.jpg' %}" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;" alt="image">
                    <div class="pt-4 text-center">
                      <h5 class="title">
                        <span class="d-block mb-1">Alexander Smith</span>
                        <small class="h6 text-muted">Harvard University</small>
                      </h5>
                      <div class="mt-1">
                        <button class="btn btn-transparent rounded">
                          <i class="fa fa-plus text-danger"></i>
                          <small>Connect</small>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                  <div class="px-4">
                    <img src="{% static 'img/theme/team-4-800x800.jpg' %}" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;" alt="image">
                    <div class="pt-4 text-center">
                      <h5 class="title">
                        <span class="d-block mb-1">John Doe</span>
                        <small class="h6 text-muted">Cambridge University</small>
                      </h5>
                      <div class="mt-1">
                        <button class="btn btn-transparent rounded">
                          <i class="fa fa-plus text-danger"></i>
                          <small>Connect</small>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        
              <div class="row mb-sm">
                <div class="col-lg-8">
                  <h3 class="display-3">Alumni</h3>
                </div>
              </div>
              <div class="row mb-md">
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                  <div class="px-4">
                    <img src="{% static 'img/shinta.jpg' %}" class="rounded-circle img-center shadow shadow-lg--hover" style="object-fit:cover; width:182px; height:182px;" alt="image">
                    <div class="pt-4 text-center">
                      <h5 class="title">
                        <span class="d-block mb-1">Shinta Nishino</span>
                        <small class="h6 text-muted">University of Reading</small>
                      </h5>
                      <div class="mt-1">
                        <button class="btn btn-transparent rounded">
                          <i class="fa fa-plus text-danger"></i>
                          <small>Connect</small>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                  <div class="px-4">
                    <img src="{% static 'img/amy.jpg' %}" class="rounded-circle img-center shadow shadow-lg--hover" style="object-fit:cover; width:182px; height:182px;" alt="image">
                    <div class="pt-4 text-center">
                      <h5 class="title">
                        <span class="d-block mb-1">Amy Ho</span>
                        <small class="h6 text-muted">University of Reading</small>
                      </h5>
                      <div class="mt-1">
                        <button class="btn btn-transparent rounded">
                          <i class="fa fa-plus text-danger"></i>
                          <small>Connect</small>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                  <div class="px-4">
                    <img src="{% static 'img/ali.png' %}" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;" alt="image">
                    <div class="pt-4 text-center">
                      <h5 class="title">
                        <span class="d-block mb-1">Ali Ichigo</span>
                        <small class="h6 text-muted">Harvard University</small>
                      </h5>
                      <div class="mt-1">
                        <button class="btn btn-transparent rounded">
                          <i class="fa fa-plus text-danger"></i>
                          <small>Connect</small>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                  <div class="px-4">
                    <img src="{% static 'img/ben.png' %}" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;" alt="image">
                    <div class="pt-4 text-center">
                      <h5 class="title">
                        <span class="d-block mb-1">Benjamin Lalala</span>
                        <small class="h6 text-muted">Cambridge University</small>
                      </h5>
                      <div class="mt-1">
                        <button class="btn btn-transparent rounded">
                          <i class="fa fa-plus text-danger"></i>
                          <small>Connect</small>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>       
              </div>

            </div>
          </section>
          
         
          
        </div>
      </div>
    </div>

  {% endblock %}
