{% extends 'base-authpage.html' %}
{% load static %}
{% load widget_tweaks %}
{% block navbar %}
{% include 'include/nav-authpage.html' %}
{% endblock %}

{% block style %}
<style>
.sticky-header {
    /* display: flex; */
    background-color: #fff;
    position: relative;
    width: 100%;
}

.sticky-header.fixed {
    padding-top: 5em;
    position: fixed;
    top: 0;
    z-index: 2;
}

/* Overwrite argon */
.media .avatar {
    width: 38px;
    height: 38px;
}

.media p {
    line-height: 1.61em;
    font-size: .85em;
}
.lead {
    line-height: 1.61em;
    font-size: 1rem;
}

/* media */
@media (min-width: 576px) {
    .sticky-header.fixed {
        width: calc(540px * 0.75 - 10rem);
    }
}

@media (min-width: 768px) {
    .sticky-header.fixed {
        width: calc(720px * 0.75 - 6rem);
    }
    .media .avatar {
        width: 48px;
        height: 48px;
    }
    .media p {
        line-height: 1.7em;
        font-size: 1rem;
    }
    .lead {
        line-height: 1.7em;
        font-size: 1.25rem;
    }
}
}

@media (min-width: 992px) {
    .sticky-header.fixed {
        width: calc(960px * 0.75 - 6rem);
    }
    .media .avatar {
        width: 64px;
        height: 64px;
    }
    .media p {
    line-height: 1.7em;
    font-size: 1rem;
    }
    .lead {
        line-height: 1.7em;
        font-size: 1.25rem;
    }
}

@media (min-width: 1200px) {
    .sticky-header.fixed {
        width: calc(1040px * 0.75 - 8rem);
    }
    .media .avatar {
        width: 64px;
        height: 64px;
    }
    .media p {
    line-height: 1.7em;
    font-size: 1rem;
    }
    .lead {
        line-height: 1.7em;
        font-size: 1.25rem;
    }
}
</style>
<style>
    .btn-transparent {
        background-color: transparent;
        border: none;
        text-decoration: none;
        display: inline-block;
        margin-right: .75rem;
        padding: 0;
    }

    .btn-transparent.active, 
    .btn-transparent:hover {
        color: #5e72e4;
    }

    .btn-transparent:focus {
        outline: none;
    }

    .btn-transparent>span {
        margin-left: .1875rem;
        font-weight: 600;
    }
</style>
{% endblock %}
{% block scripts %}

<!-- Sticky header -->
<script>
    var _window = $(window),
        _header = $('.sticky-header'),
        imgBottom;

    _window.on('scroll', function () {
        imgBottom = $('.img').height() * 0.51;
        if (_window.scrollTop() > imgBottom) {
            _header.addClass('fixed');
        }
        else {
            _header.removeClass('fixed');
        }
    });

    _window.trigger('scroll');
</script>

<script>
    // show reply section
    $(document).on('click', '.rep-window', function () {
        var repWindow = $(this).closest('.media-body').find('.media-post');
        if (repWindow.css('display') == "none") {
            repWindow.css('display', 'block')
        } else {
            repWindow.css('display', 'none')
        };

    });
</script>

{% endblock %}

{% block content %}
    <div class="container pt-lg">
            <div class="row justify-content-center">
                <div class="col-sm-10 col-12">
                    <div class="card card-blog">
                        <img class="img pattern rounded" src="{% static 'img/ill/presentation_bg.png' %}"
                            style="margin-top: -51%;">
                        <div class="card-body px-5">
                            <!-- Tags -->
                            <!-- for backend devlopment, only show the tags that are used. Tag components are equivalant to basic info.-->
                            <div class="d-flex flex-row flex-wrap font-weight-300 small mb-3">
                                {% if status_tags %}
                                <div class="text-muted mr-3">
                                    <i class="ni ni-tag mr-1 align-middle"></i><span class="align-middle">Current Status</span>
                                    {% for tag in status_tags %}
                                    <a href="">
                                      <span class="badge mr-1 mb-1 badge-secondary">{{ tag }}</span>
                                    </a>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                
                                {% if home_country_tags %}
                                <div class="text-muted mr-3">
                                    <i class="ni ni-tag mr-1 align-middle"></i><span class="align-middle">Home Country</span>
                                    {% for tag in home_country_tags %}
                                    <a href="">
                                      <span class="badge mr-1 mb-1 badge-secondary">{{ tag.body }}</span>
                                    </a>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                
                                {% if study_abroad_country_tags %}
                                <div class="text-muted mr-3">
                                    <i class="ni ni-tag mr-1 align-middle"></i><span class="align-middle">Study Abroad Country</span>
                                    {% for tag in study_abroad_country_tags %}
                                    <a href="">
                                      <span class="badge mr-1 mb-1 badge-secondary">{{ tag.body }}</span>
                                    </a>
                                    {% endfor %}
                                </div>
                                {% endif %}

                                {% if school_tags %}
                                <div class="text-muted mr-3">
                                    <i class="ni ni-tag mr-1 align-middle"></i><span class="align-middle">School</span>
                                    {% for tag in school_tags %}
                                    <a href="">
                                      <span class="badge mr-1 mb-1 badge-secondary">{{ tag.body }}</span>
                                    </a>
                                    {% endfor %}
                                </div>
                                {% endif %}

                                {% if major_tags %}
                                <div class="text-muted mr-3">
                                    <i class="ni ni-tag mr-1 align-middle"></i><span class="align-middle">Major</span>
                                    {% for tag in major_tags %}
                                    <a href="">
                                      <span class="badge mr-1 mb-1 badge-secondary">{{ tag.body }}</span>
                                    </a>
                                    {% endfor %}
                                </div>
                                {% endif %}

                                <div class="text-muted mr-3">
                                    <i class="ni ni-tag mr-1 align-middle"></i><span class="align-middle">School Start Year</span>
                                    <a href="">
                                      <span class="badge mr-1 mb-1 badge-secondary">{{ start_year_tag.lower_bound }}~{{ start_year_tag.upper_bound }}</span>
                                    </a>
                                </div>
                                <div class="text-muted mr-3">
                                    <i class="ni ni-tag mr-1 align-middle"></i><span class="align-middle">School End Year</span>
                                    <a href="">
                                      <span class="badge mr-1 mb-1 badge-secondary">{{ end_year_tag.lower_bound }}~{{ end_year_tag.upper_bound }}</span>
                                    </a>
                                </div>
                                {% comment %} <div class="text-muted mr-3">
                                    <i class="ni ni-tag mr-1 align-middle"></i><span class="align-middle">Living City</span>
                                    <a href="">
                                      <span class="badge mr-1 mb-1 badge-secondary">Oxford</span>
                                    </a>
                                </div> {% endcomment %}
                            </div>
                            
                            <!-- replace follwoing div open tag with the next div open tag, when you want sticky question section    -->
                            <!-- <div class="sticky-header"> -->
                            <div>
                                <div class="d-flex flex-row justify-content-between mb-3">
                                    <h3 class="card-title">
                                        {{ ask.title }}
                                    </h3>
                                    {% if not following and ask.user != user %}
                                    <div>
                                        <a href="{% url 'inquiry:follow' ask.id ask.user.username %}" class="btn btn-info btn-primary btn-sm">
                                            follow
                                        </a>
                                    </div>
                                    {% endif %}
                                </div>

                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="row justify-content-sm-center justify-content-md-center">
                                            <div class="col-4 col-lg-12 text-lg-center">
                                                <a href="">
                                                    {% if ask.user.profile_image %}
                                                    <img src="{{ ask.user.profile_image.image.url }}"
                                                        class="img-fluid rounded-circle shadow-lg"
                                                        style="width: 100px;">
                                                    {% else %}
                                                    <img src="{% static 'img/placeholder.jpg' %}"
                                                        class="img-fluid rounded-circle shadow-lg"
                                                        style="width: 100px;">
                                                    {% endif %}
                                                </a>
                                            </div>
                                            <div class="col-8 col-lg-12 text-lg-center mt-lg-2">
                                                {% if ask.user.basicinfo %}
                                                <h5>{{ ask.user.basicinfo.name }}
                                                    {% if ask.user.basicinfo.status == "FU"%}
                                                    <img class="img-fluid rounded shadow ml-2"
                                                        style="width: 1.25rem;"
                                                        src="{% static 'img/brand/logo_future.png' %}">
                                                    {% elif ask.user.basicinfo.status == "CU" %}
                                                    <img class="img-fluid rounded shadow ml-2"
                                                        style="width: 1.25rem;"
                                                        src="{% static 'img/brand/logo_current.png' %}">
                                                    {% elif ask.user.basicinfo.status == "AL" %}
                                                    <img class="img-fluid rounded shadow ml-2"
                                                        style="width: 1.25rem;"
                                                        src="{% static 'img/brand/logo_alumni.png' %}">
                                                    {% endif %}
                                                    
                                                </h5>
                                                <div class="text-muted font-weight-500 small">
                                                    from {{ ask.user.basicinfo.country_origin }} to {{ ask.user.basicinfo.country_study_abroad }}.
                                                </div>
                                                {% endif %}
                                                {% if ask.user.study_abroad %}
                                                <div class="h6 font-weight-bold mb-0">{{ ask.user.study_abroad.education.school }}</div>
                                                <div class="text-muted small font-weight-500">{{ ask.user.study_abroad.education.major }}
                                                    <span class="text-muted font-weight-300">
                                                    <small>({{ ask.user.study_abroad.education.start_year }} ~ {{ ask.user.study_abroad.education.end_year }})</small>
                                                    </span>
                                                </div>
                                                {% comment %} <div class="font-weight-400">
                                                    <small><i class="ni ni-pin-3 mr-2"></i>Boston, U.S.</small>
                                                </div> {% endcomment %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 mt-3 mt-lg-0">
                                        <p class="lead my-0">
                                            {{ ask.body | linebreaksbr }}
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- Comment area -->
                            <div class="row mt-lg">
                                <div class="col">
                                    <div>
                                        {% if comments %}
                                        <h3 class="display-4 text-center">{{ ask.comments.count }} Comment{{ ask.comments.count | pluralize }}</h3>
                                        <h3 class="mt-5 mb-4 display-4 text-center">Post your comment</h3>
                                        {% else %}
                                        <h3 class="mt-5 mb-4 display-4 text-center">Post the first comment</h3>
                                        {% endif %}
                                        {% for comment in comments %}
                                        <div class="media mt-5">
                                            <a class="float-left" href="">
                                                <div class="avatar">
                                                    {% if comment.user.profile_image %}
                                                    <img src="{{ comment.user.profile_image.image.url }}"
                                                        class="img-fluid rounded-circle shadow-lg">
                                                    {% else %}
                                                    <img src="{% static 'img/placeholder.jpg' %}"
                                                        class="img-fluid rounded-circle shadow-lg">
                                                    {% endif %}
                                                </div>
                                            </a>
                                            <div class="media-body">
                                                <div class="d-flex flex-row align-items-baseline">
                                                    <h5 class="media-heading mr-2">
                                                    {% if comment.user.basicinfo %}
                                                    {{ comment.user.basicinfo.name }}
                                                    {% else %}
                                                    @{{ comment.user.username }}
                                                    {% endif %}
                                                    </h5><small
                                                        class="text-muted">{{ comment.created_at | timesince }}</small>
                                                </div>
                                                <h6 class="text-muted"></h6>
                                                <p class="font-size">{{ comment.body | linebreaksbr }}</p>
                                                <div class="d-flex flex-row justify-content-end">
                                                    <form action="{% url 'inquiry:like-comment' ask.id comment.id %}" method="POST">
                                                        {% csrf_token %}
                                                        <button type="submit" class="mr-4 text-danger btn-transparent">
                                                            <small>
                                                                <i class="ni ni-diamond"></i>
                                                                {{ comment.likes.count }}
                                                            </small>
                                                        </button>
                                                    </form>
                                                    {% comment %} <a href="javascript:;" class="text-primary rep-window">
                                                        <small>
                                                            <i class="fa fa-reply"></i>
                                                            &nbsp;Reply
                                                        </small>
                                                    </a> {% endcomment %}
                                                </div>
                                                {% comment %} <!-- Replay section -->
                                                <div class="media-post" style="display: none;">
                                                    <form>
                                                        <div class="media align-items-center mt-5">
                                                            <img alt="Image placeholder"
                                                                class="avatar avatar-lg rounded-circle mb-4"
                                                                src="{% static 'img/faces/card-profile6-square.jpg' %}">
                                                            <div class="media-body">
                                                                <textarea class="form-control"
                                                                    placeholder="Write your comment"
                                                                    rows="3"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="text-right ml-auto">
                                                            <div class="text-right">
                                                                <button type="button"
                                                                    class="btn btn-md btn-transparent btn-icon rounded">
                                                                    <span class="btn-inner--icon icon-big"><i
                                                                            class="fa fa-image"></i></span>
                                                                </button>
                                                                <button class="btn btn-primary btn-sm btn-round">
                                                                    Post comment
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div> {% endcomment %}
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="media media-post">
                                        <div class="media-body">
                                            <!-- Can this form be markdown style? -->
                                            <form action="{% url 'inquiry:comment' ask.id %}" method="POST">
                                                {% csrf_token %}
                                                <div class="media align-items-center mt-5">
                                                    {% if ask.user.profile_image %}
                                                    <img src="{{ ask.user.profile_image.image.url }}"
                                                        class="avatar avatar-lg rounded-circle mb-4">
                                                    {% else %}
                                                    <img src="{% static 'img/placeholder.jpg' %}"
                                                        class="avatar avatar-lg rounded-circle mb-4">
                                                    {% endif %}
                                                    <div class="media-body">
                                                        {% render_field comment_form.body class+="form-control" placeholder="Write your comment" rows="3" %}
                                                    </div>
                                                </div>
                                                <div class="text-right ml-auto">
                                                    <div class="text-right">
                                                        {% comment %} <button type="button"
                                                            class="btn btn-md btn-transparent btn-icon rounded">
                                                            <span class="btn-inner--icon icon-big"><i
                                                                    class="fa fa-image"></i></span>
                                                        </button> {% endcomment %}
                                                        <button type="submit" class="btn btn-primary btn-sm btn-round">
                                                            Post comment
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div> <!-- end media-post -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

{% endblock %}