{% load static %}
<!-- Core -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/popper/popper.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/headroom/headroom.min.js' %}"></script>
<!-- Optional JS -->
<script src="{% static 'vendor/onscreen/onscreen.min.js' %}"></script>
<script src="{% static 'vendor/nouislider/js/nouislider.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap-tagsinput/bootstrap-tagsinput.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/holderjs/holder.min.js' %}"></script>
<script src="{% static 'vendor/prismjs/prism.js' %}"></script>
<script src="{% static 'vendor/js-cookie/js.cookie.js' %}"></script>
<script src="https://kit.fontawesome.com/934ec8d249.js" crossorigin="anonymous"></script>
<!-- Argon JS -->
<script src="{% static 'js/argon.js' %}"></script>
