{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% include 'include/nav-trans.html' %}
{% endblock %}

{% block content %}
<main>
    <section class="section section-shaped section-lg">
        <form action="" method="post">{% csrf_token %}
            {% if form.email.errors %}{{ form.email.errors }}{% endif %}
                <p>{{ form.email }}</p> 
            <input type="submit" class='btn btn-default btn-lg' value="Reset password" />
        </form>
    </section>
</main>
{% endblock %}