{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="A communication platform for international students. Alumate helps you to find people who can help.">
  <meta name="author" content="Shinta, Vikas, Hiroki">
  <title>Alumate</title>
  {% include 'base/css.html' %}
  {% block style %}
  {% endblock %}
</head>
<body>
  <header class="header-global">
    {% block navbar %}
    {% endblock %}
  </header>

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

  {% include 'base/js.html' %}
</body>
</html>
