{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="A communication platform for international students. Alumate helps you to find people who can help.">
  <meta name="author" content="Shinta, Vikas, Hiroki">
  <title>Alumate</title>
  {% include 'base/css.html' %}
</head>
<body>
  <header class="header-global">
    {% block navbar %}
    {% endblock %}
  </header>

    {% block content %}
    {% endblock %}

  <footer class="footer has-cards">
    <div class="container">
      <hr>
      <div class="row align-items-center justify-content-md-between">
        <div class="col-md-6">
          <div class="copyright">
            &copy; 2020 <a href="/" target="_blank">Alumate</a>.
          </div>
        </div>
        <div class="col-md-6">
          <ul class="nav nav-footer justify-content-end">
            <li class="nav-item">
              <a href="/" class="nav-link" target="_blank">Alumate</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'index:contact' %}" class="nav-link" target="_blank">Contact</a>
            </li>
            
          </ul>
        </div>
      </div>
    </div>
  </footer>
  {% include 'base/js.html' %}
</body>
</html>
